<% content_for :page_title do %>
 FTP Users
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_ftp_user),
    new_admin_sites_ftp_user_path,
    class: "btn-success",
      icon: 'add.svg',
      id: 'admin_new_ftp_user' %>
<% end %>


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Linux</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Windows</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <% if @ftp_users.any? %>
      <div data-nav-x-wrapper>
        <div data-nav-x-container>
          <table class="table" id="listing_orders" data-hook data-nav-x-content>
            <thead>
              <tr data-hook="admin_orders_index_headers">
                <th>ID</th>
                <th>Web Domain</th>
                <th>username</th>
                <th>User identifier (UID)</th>
                <th>Group identifier (GID)</th>
                <th>Directory</th>
                <th>Active</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'spree/admin/sites/ftp_users/index', collection: @ftp_users, as: :ftp_user %>
            </tbody>
          </table>
        </div>
      </div>
      <% else %>
        <div class="alert alert-info no-objects-found">
          No FTP Users
        </div>
      <% end %>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <% if @windows_resources.any? %>
      <div data-nav-x-wrapper>
        <div data-nav-x-container>
          <table class="table" id="listing_orders" data-hook data-nav-x-content>
            <thead>
              <tr data-hook="admin_orders_index_headers">
               
              
                <th>username</th>
                <th>Folder</th>
               <!--  <th>Enabled</th> -->
                <th>Can Read</th>
                <th>Can Write</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @windows_resources.each do |ftp_account|%>
                <tr>
                  <td><%= ftp_account.name %></td>
                  <td><%= ftp_account.folder %></td>
                  <!-- <td><%#= ftp_account.enabled %></td> -->
                  <td><%= ftp_account.can_read%></td>
                  <td><%= ftp_account.can_write%></td>
                  <td><%#=link_to 'Edit',edit_admin_sites_ftp_user_path(id: ftp_account.id, server_type: 'windows')%> 
                  <%=link_to 'Delete', admin_sites_ftp_user_path(id: ftp_account.id, server_type: 'windows'), method: :delete, data: {confirm: t('windows.ftp_account.delete_alert')}%>
                </tr>
              <%end%>
              <%#= render partial: 'spree/admin/sites/ftp_users/index', collection: @ftp_users, as: :ftp_user %>
            </tbody>
          </table>
        </div>
      </div>
      <% else %>
        <div class="alert alert-info no-objects-found">
          No FTP Users
        </div>
      <% end %>
        </div>
  </div>





<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });

  var updateFtpUser = function(element){
    var ftpUserId = element.attributes.data_ftp_user_id.value;
    var domainStatus = element.value;
    if (domainStatus == 'y') {
      var dataConfirm = "Are you sure to Deactivate this Domain?, This will affect your other services";
      var active = 'n';
    }
    else {
      var dataConfirm = "Are you sure to Activate this Domain?";
      var active = 'y';
    }

    result = confirm(dataConfirm);
    if (result) {
      setTimeout(function(){
        $.ajax({
          type: "PATCH",
          url: "/admin/sites/ftp_users/"+ftpUserId,
          data: { 
            ftp_user: {
              active: active
            }
          }
        });
      } ,5);
    }
  }

</script>
