<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        FTP Users
        </h1>
        
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_ftp_user),
      new_admin_sites_ftp_user_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_ftp_user' %>
      </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <!-- Nav -->
          <%win_active = 'active'%>
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <%if current_spree_user.have_linux_access?%>
              <%win_active = ''%>
              <li class="nav-item">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Linux</a>
              </li>
            <%end%>

            <%if current_spree_user.have_windows_access?%>
              <li class="nav-item">
              <a class="nav-link <%=win_active%>" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Windows</a>
              </li>
            <%end%>
        
          </ul>
        </div>
    </div>
  </div>
</div>

<%= flash_messages %>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade <%=win_active.blank? ? 'show active' : ''%>" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <% if @ftp_users.any? %>
      <div class="card">
        <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
              <tr>
              <th>ID</th>
              <th>Web Domain</th>
              <th>Username</th>
              <th>User identifier (UID)</th>
              <th>Group identifier (GID)</th>
              <th>Directory</th>
              <th>Active</th>
              <th>Actions</th>
              </tr>
            </thead>
            <tbody class="fsbase">
            <%= render partial: 'spree/admin/sites/ftp_users/index', collection: @ftp_users, as: :ftp_user %>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <div class="alert alert-secondary no-objects-found">
        <label class="form-label" style="margin-top: 0.5rem;"> No FTP Users </label>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade <%=win_active.present? ? 'show active' : ''%>" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <% if @windows_resources.any? %>
      <div class="card">
        <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
              <tr>
                <th>Username</th>
                <th>Folder</th>
               <!--  <th>Enabled</th> -->
                <th>Can Read</th>
                <th>Can Write</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="fsbase">
              <% @windows_resources.each do |ftp_account|%>
                <tr>
                  <td><%= ftp_account.name %></td>
                  <td><%= ftp_account.folder %></td>
                  <!-- <td><%#= ftp_account.enabled %></td> -->
                  <td><%= ftp_account.can_read%></td>
                  <td><%= ftp_account.can_write%></td>
                  <td>
                    <%=link_to '<i class="fe fe-trash"></i>'.html_safe, admin_sites_ftp_user_path(id: ftp_account.id, server_type: 'windows'), method: :delete, data: {confirm: t('windows.ftp_account.delete_alert')},class:"btn btn-danger btn-size"%>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <div class="alert alert-secondary no-objects-found">
        <label class="form-label" style="margin-top: 0.5rem;"> No FTP Users </label>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: '/spree/admin/shared/modal/modal' %>


<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });

  $(document).on('click', '.configure-modal-link', function(){
    var userName = $(this).data('username');
    var pwdDiv = $(this).data('pwd-div-id');
    if($('#'+pwdDiv).is(':empty')){
      var password = $(this).data('password');
    }
    else{
      var password = $('#'+pwdDiv).html();
    }
    var host = $(this).data('host');
    var port = $(this).data('port');
    var email = $(this).data('email');
    var id = $(this).data('id');
    $('#exampleModalLabel').html("FTP Configuration Details");
    $('#exampleModal .modal-body').html(`
      <table>
        <tbody class="ftp_user_${id}">
          <tr>
            <td><b>Username:</b></td>
            <td>${userName}</td>
          </tr>
         
          <tr>
            <td><b>Host:</b></td>
            <td>${host}</td>
          </tr>
          <tr>
            <td><b>Port:</b></td>
            <td>${port}</td>
          </tr>
          <tr>
            <td>Reset Password</td>
            <td>
              <a href="/admin/sites/ftp_users/reset_password?email=${email}&type=create_ftp_account&div_class=ftp_user_${id}" data-remote="true">Reset Pasword</a>
              <div class='password-text'></div>
            </td>
          </tr>
        </tbody>
      </table>
    `);
    $('#modal-save-button').hide();
    $('#exampleModal').modal('show');
  });

  var updateFtpUser = function(element){
    var ftpUserId = element.attributes.data_ftp_user_id.value;
    var domainStatus = element.value;
    if (domainStatus == 'y') {
      var dataConfirm = "Are you sure to Deactivate this Domain?, This will affect your other services";
      var active = 'n';
    }
    else {
      var dataConfirm = "Are you sure to Activate this Domain?";
      var active = 'y';
    }

    result = confirm(dataConfirm);
    if (result) {
      setTimeout(function(){
        $.ajax({
          type: "PATCH",
          url: "/admin/sites/ftp_users/"+ftpUserId,
          data: { 
            ftp_user: {
              active: active
            }
          }
        });
      } ,5);
    }
  }
</script>
