<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        <%= link_to Spree.t(:ftp_users), admin_sites_ftp_users_path %> /
        New FTP User
        </h1>
      </div>
      <div class="col-auto">
      </div>
    </div>

  </div>
</div>

<%= flash_messages %>

<% url =  @ftp_user.present? ?   admin_sites_ftp_user_path(@ftp_user.id) : admin_sites_ftp_users_path%>

  <%= render partial: 'set_remaining_fields_value', collection: @websites, as: :website %>

 <%=form_for "ftp_user", url: url, html: {method: @ftp_user.present? ? :put : :post} do |f|%> 

  <fieldset>
    <div class="form-group">
      <label class="form-label">Select Hosting Type:</label>
      <%= select_tag :server_type, options_for_select(plan_type_values(current_spree_user)), class: 'form-select', id: 'hosting_type'  %>
    </div>

  
    <div class="form-group">
      <label class="form-label">Username:</label>
      <%=f.text_field 'username', value: @ftp_user.try(:username), class: 'form-control', placeholder: "Please enter UserName" %>
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <%=f.password_field 'password', value: @ftp_user.try(:password), class: 'form-control', placeholder: "Please enter Password"%>
    </div>

    <div id="windows-fields" style="display: none;">
      <div class="form-group">
      <label class="form-label">Select Domain:</label>
      <%= f.select(:domain, @windows_sites.pluck(:domain_name).uniq.reject{|x| x.include?("www")}, {:prompt => 'Select Web Domain'}, class: 'form-select js-filterable',id: "domain_name_dropdown" )%>
      </div>   

       <div class="form-group">
        <label class="form-label">Folder:</label>
        <%=f.text_field 'folder', value: "", class: 'form-control', disabled: true, id: "folder_path" %>
      </div>   
    </div>

     <div id="linux-fields" >
       <div class="form-group">
        <label class="form-label">Select Domain:</label>
        <%= collection_select(:ftp_user, :parent_domain_id, @websites, :domain_id, :domain, {:prompt => 'Select Web Domain'}, {class: 'form-select js-filterable'}) %>
      </div>


      <div class="form-group">
        <label class="form-label">Harddisk-Quota(MB):</label>
        <%=f.text_field 'quota_size', value: (@ftp_user.try(:quota_size) ? @ftp_user.try(:quota_size) : -1) , class: 'form-control', type: 'number', placeholder: "Please enter Harddisk-Quota In MB (example: 1000)"%>
      </div>

      <div class="form-group">
        <label class="form-label">Active</label>
        <%=f.select 'active',options_for_select(Website.actives.collect{ |k, v| [v, k]}, @website.try(:active)),{}, class: 'form-select'%>
      </div>

      <div class="form-group">
        <label class="form-label">User identifier (UID):</label>
        <%=f.text_field 'uid', value: @ftp_user.try(:uid), class: 'form-control', readonly: true%>
      </div>

      <div class="form-group">
        <label class="form-label">Group identifier (GID):</label>
        <%=f.text_field 'gid', value: @ftp_user.try(:gid), class: 'form-control', readonly: true%>
      </div>

      <div class="form-group">
        <label class="form-label">Directory:</label>
        <%=f.text_field 'dir', value: '/var/www/clients/client312/web29', class: 'form-control', readonly: true %>
      </div>
    </div>

    <%=submit_tag "#{@ftp_user.present? ? 'Update' : 'Add'} FTP User",class: 'btn btn-primary lift mb-4'%>

  </fieldset>
<% end %>

<div style="color: red;" class="mt-3">
  <%=@response[:message].html_safe if @response %>
</div> 



<script type="text/javascript">
  $('#ftp_user_parent_domain_id').change(function () {
    var domain_id = $('#ftp_user_parent_domain_id').val();
    var currentDomainId = $('#ftp_user_parent_domain_'+domain_id);
    var dir  = currentDomainId.data("dir");
    $('#ftp_user_dir').val(dir);
    var uid  = currentDomainId.data("uid");
    $('#ftp_user_uid').val(uid);
    var gid  = currentDomainId.data("gid");
    $('#ftp_user_gid').val(gid);
  });

</script>


<script type="text/javascript">
  
  $(document).ready(function (argument) {
    $("#hosting_type").on('change',function (argument) {
      var val = $(this).val();
      if (val=='linux') {
        $('#linux-fields').show();
        $('#windows-fields').hide();
      } 
      else
      {
        $('#linux-fields').hide();
        $('#windows-fields').show();
      }
    });

    $('#domain_name_dropdown').on('change', function(){
      var val = $(this).val();
      var folder = "\\"+val+"\\wwwroot"
      $('#folder_path').val(folder)
    });
  });
</script>
