<style>
.navbar-img{
  max-width: 100%;
  max-height: 3.5rem;
  margin-left:5px;
}
# margin-top: -610px;margin-left:10px
</style>



<a href="<%= spree.root_path %>" style="position:absolute;left:0;top:0;margin-top:5px">
<%= image_tag 'OpsPi-logo.png', class: "navbar-img" %>
</a>

<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">


<!-- CONTENT
================================================== -->
<div class="container">
<%= render "spree/shared/error_messages", target: resource %>
  <div class="row align-items-center">
    <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

      <!-- Image -->
      <div class="text-center">
      <%#=image_tag('coworking')%>
      <%= image_tag 'coworking.svg', class: "img-fluid" %>
      </div>

    </div>
    <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Forgot Password
      </h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
      </p>

      <!-- Form -->
      <%= form_for Spree.user_class.new, as: :spree_user, url: reset_password_path do |f| %>
      <form>

        <!-- Email address -->
        <div class="form-group">

          <!-- Label -->
          <label class="form-label">
            Email Address
          </label>

          <!-- Input -->
          <%= f.email_field :email, class: 'form-control', placeholder: Spree.t(:email) %>

        </div>

        <!-- Submit -->
        <%= f.submit "Reset Password",class: 'btn btn-lg w-100 btn-primary mb-3' %>

        <!-- Link -->
        <div class="text-center">
          <small class="text-muted text-center">
            Remember your password? <%= link_to Spree.t('log_in'), spree_login_path %>.
          </small>
        </div>

      </form>
      <%end%>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->


</body>