<table class="table">
  <%domains.each do |key, value|%>
    <%disabled = order.line_items.pluck(:domain).include?(key) rescue false%>
    <tr id="<%=generate_id_from_key(key)%>">
      <td><b><%=key%></b> is   <%=render_domain_status(value)%> <br/> </td>
        <%if value["status"] == 'available'%>
          <td style="float: right;">
          <%= form_for :order,url: '/admin/domain_registrations', html: {
                id: 'add-to-cart-form',class: 'add-to-cart-form' }, remote: true do |f| %>
              <span class="mr-4">
                  <%=select_tag 'options[validity]',options_for_select([['1 Year',1],['2 Year',2],['3 Year',3]])%>
                </span>
              <span class="mr-4"><%=number_to_currency(10)%></span>
              <%= hidden_field_tag "order_id", @order.try(:id),class: 'order_id' %>
              <%= hidden_field_tag "variant_id", @product.try(:id) %>
              <%= hidden_field_tag :tlds,params[:tlds]%>
              <%=hidden_field_tag 'options[domain]',key%>
              <%= button_tag class: 'btn btn-primary text-uppercase font-weight-bold add-to-cart-button', id: 'add-to-cart-button', type: :submit,disabled: disabled do %>
                  <%= Spree.t(:add_to_cart) %>
              <% end %>

            <% end %>
          <%else%>
            <td colspan="3"></td>
        <%end%>
        </td>
    </tr>
  <%end%> 
</table>
