<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
         Registered Domains
        </h1>
      </div>
      
      <div class="col-auto">
          <%=button_link_to Spree.t(:register_domain), new_admin_domain_registration_url,  class: "btn btn-primary lift",
      icon: 'add.svg',
      id: 'admin_new_order' %>
    
      </div>
    </div>
  </div>
</div>

    <%= flash_messages %>

<% if @domains.any? %>

    <div class="card mt-4">
    <div class="table-responsive">
      <table class="table table-sm card-table" style="table-layout: fixed; width:100%">
        <thead>
          <tr>
          <th><%=I18n.t(:number, scope: 'activerecord.attributes.spree/order')%></th>
          <th>Domain Name</th>
          <th>Expiring on</th>
          <% if @show_only_completed %>
            <th><%= sort_link @search, :completed_at,   I18n.t(:completed_at, scope: 'activerecord.attributes.spree/order') %></th>
          <% else %>
            <th><%=  I18n.t(:created_at, scope: 'activerecord.attributes.spree/order') %></th>
          <% end %>
          <th><%= I18n.t(:state, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= I18n.t(:payment_state, scope: 'activerecord.attributes.spree/order') %></th> 
          <th><%= I18n.t(:total, scope: 'activerecord.attributes.spree/order') %></th>
          <th>API Response</th>
          </tr>
        </thead>
        <tbody class="fs-base">
        <% @domains.each do |order| %>
          <tr data-hook="admin_orders_index_rows" class="state-<%= order.state.downcase %> <%= cycle('odd', 'even') %>">
            <td><%=order.number%></td>
            <td><%=order.domain%></td>
            <td>
              <%year = (order.validity || 1 ).year%>
              <%=order.created_at + year%></td>
            <td><%= order_time(@show_only_completed ? order.completed_at : order.created_at) %>  </td> 
            <td class="no-wrap">
               <%if order.domain_successfully_registered? %>
                <span class="badge badge-complete text-uppercase">Completed </span>
              <%else%>
                 <span class="badge badge-pend text-uppercase">In Complete </span>
               <%end%>
            </td>
            <td class="no-wrap">
              <% if order.payment_state %>
                <%=Spree.t("payment_states.#{order.payment_state}")%>
              <% end %>
            </td>
            <td><%= order.display_total.to_html %></td>
            <td>
              <span data-toggle="tooltip" data-placement="top" title="<%=order.api_response%>">
                <%=order.domain_successfully_registered? ? 'Response' : ''%>
              </span>
             
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="alert alert-light no-objects-found">
  <label class="form-label" style="margin-top: 0.5rem;">     <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Order)) %>,
  <%= link_to(Spree.t(:add_one), new_admin_order_url) if can? :create, Spree::Order %>!</label>

  </div>
<% end %>
<%#= render 'spree/admin/shared/index_table_options', collection: @domains, simple: true %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>