<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        <%= link_to Spree.t(:domain), spree.admin_domain_registrations_url %> /
        <%= Spree.t(:new_domain) %>
        </h1>
        
      </div>
      <div class="col-auto">
      <%= button_link_to "Checkout #{@order.try(:line_items).try(:count)}",
      spree.cart_path,
      class: "btn btn-primary lift",
        icon: '',
        id: 'proceed_to_checkout' %>
      </div>
    </div>
    </div>
    </div>

    <%= flash_messages %>
 <%=form_for "search_domian", url: "/admin/domain_registrations/new",html: {method: :get} do |f|%> 
  <fieldset>
    <div class="form-group field">
      <label class="form-label">Check upto 15 domian names</label>
      <%=text_field_tag :domian_names,params[:domian_names],class: 'form-control',required: true,placeholder: 'test,test2,abc'%>
    </div>
          
    <div class="form-group field">
      <label class="form-label">Most Popular Domain Extensions:</label>
      <table class="table">
       <%['com', 'net', 'org', 'online', 'live', 'me', 'news', 'co', 'biz', 'xyz'].in_groups_of(5) do |group|%>
       <tr>
          <%group.each do |tld|%>
          <%checked = params[:tlds].include?(tld) rescue false%>
          <td><%=check_box_tag 'tlds[]',tld,checked,class: 'mr-2 form-check-input list-checkbox'%> <%=tld%></td>
          <%end%>
        </tr>
       <%end%>
      </table>
    </div>
    <%=submit_tag 'Search for Domain Name(s)',class: 'btn btn-primary lift'%>

  </fieldset>
<%end%>

<div>
 
  <%if @response && @response["status"]=='ERROR'%>
  <%if @response["response"]["message"].include?("Access Denied") %>
    <div style="color: red;" class="mt-3"><%=Spree.t(:action_error)%></div> 
  <%else%>
  <div style="color: red;" class="mt-3"><%=@response["message"]%></div> 
  <%end%>
  <%else%>

  <div class="card mt-4">
  <div class="card-header">

    <!-- Title -->
    <h3 class="card-header-title">
    Domain Availibility
    </h3>


  </div>
  <%= render partial: 'hosting/domain_list',locals: {domains: @response,order: @order} if @response.present?%>
  <%end%>
</div>


<%if  @response && @response["status"]!='ERROR'%>
<div>
<div class="card mt-4">
  <div class="card-header">

    <!-- Title -->
    <h3 class="card-header-title">
    Other matching domains that are available
    </h3>
  </div>
  <%= render partial: 'hosting/domain_list',locals: {domains: @suggestions,order: @order} if @suggestions.present?%>
</div>
<%end%>


<script type="text/javascript">
  
  $(document).ready(function (argument) {
    $('.domain-validity-dropdown').on('change',function (argument) {
      var validity = $(this).val() || 1;
      var priceInput    = $(this).closest('td').find('.domain-price');
      var amount  = parseInt(validity) * parseFloat($(priceInput).val());
      $(priceInput).val(amount);
    });
  });
</script>