<div  class="card mb-3">
  <div class="card-header">
    <h5 class="card-title mb-0 h5">
      Security Information
    </h5>
  </div>
<% @security_info = user_data_by_id(params[:id]) %>
  <div class="table-responsive border-0 rounded bg-white">
    <table class="table"  data-hook>
      <tr>
        <td width="30%"><%= Spree.t(:sign_in_count) %>:</td>
        <td>
            <div><%= @security_info.sign_in_count %></div>
        </td>
      </tr>
      <tr>
        <td><%= Spree.t(:current_sign_in_at) %>:</td>
        <td><%= @security_info.current_sign_in_at %></td>
      </tr>
      <tr>
        <td><%= Spree.t(:last_sign_in_at) %>:</td>
        <td><%= @security_info.last_sign_in_at %><td>
      </tr>
      <tr>
        <td><%= Spree.t(:current_sign_in_ip) %>:</td>
        <td>
            <div><%= @security_info.current_sign_in_ip %></div>
        </td>
      </tr>
      <tr>
        <td><%= Spree.t(:last_sign_in_ip) %>:</td>
        <td>
            <div><%= @security_info.last_sign_in_ip %></div>
        </td>
      </tr>
      <tr>
      <td><%= Spree.t(:sign_up_ip) %>:</td>
      <td>
          <div><%= @security_info.sign_up_ip %></div>
      </td>
    </tr>
      
    </table>
  </div>
</div>