<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Websites
        </h1>
        
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_website),
      new_admin_sites_website_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_website' %>
      </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <!-- Nav -->
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Linux </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Windows</a>
            </li>
        
          </ul>
        </div>
    </div>
    </div>
    </div>

    <%= flash_messages %>
    
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <% if @resources.any? %>
    <div class="card">
    <div class="table-responsive">
    <table class="table table-sm card-table" style="table-layout: fixed; width:100%">
      <thead>
        <tr>
        <th>ID</th>
        <th>Domain</th>
        <th style="width: 35%;">Document Root</th>
        <th>Active</th>
        <th style="text-align:end;">Actions</th>
        </tr>
      </thead>
      <tbody class="fs-base">
      <%= render partial: 'spree/admin/sites/websites/index', collection: @resources, as: :website %>
      </tbody>
    </table>
    </div>
    </div>
    <% else %>
        <div class="alert alert-secondary no-objects-found">
          <label class="form-label" style="margin-top: 0.5rem;"> No Websites </label>
        </div>
    <% end %>

  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <% if @windows_resources.any? %>
  <div class="card">
    <div class="table-responsive">
    <table class="table table-sm card-table" style="table-layout: fixed; width:100%">
      <thead>
        <tr>
        <th>Domain Name</th>
        <th>Expiration Date</th>
        <th>Type</th>
        <th>Action</th>
        </tr>
      </thead>
      <tbody class="fs-base">
      <%@windows_resources.reverse.each do |domain| %>
        <tr data-hook="admin_orders_index_rows">
          <td><%=domain.domain_name%></td>
          <td><%=domain.expiration_date%></td>
          <td><%=domain.is_sub_domain? ? 'Sub-Domain' : "Top-level Domain" %></td>
          
          <td><%=link_to '<i class="fe fe-edit"></i>'.html_safe,edit_admin_windows_domain_path(id: domain.domain_id),class:"btn btn-success btn-size"%> 
            <%=link_to '<i class="fe fe-trash"></i>'.html_safe, admin_windows_domain_path(id: domain.domain_id), method: :delete, data: {confirm: t('isp_config.mail_domain.delete_alert')},class:"btn btn-danger btn-size"%>
          </td>  
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    </div>
    <% else %>
        <div class="alert alert-secondary no-objects-found">
        <label class="form-label" style="margin-top: 0.5rem;"> No Windows </label>
        </div>
      <% end %>
  </div>
</div>



<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

  });

  var updateWebDomain = function(element){
    var webDomainId = element.attributes.data_web_domain_id.value;
    var domainStatus = element.value;
    if (domainStatus == 'y') {
      var dataConfirm = "Are you sure to Deactivate this Domain?, This will affect your other services";
      var active = 'n';
    }
    else {
      var dataConfirm = "Are you sure to Activate this Domain?";
      var active = 'y';
    }

    result = confirm(dataConfirm);
    if (result) {
      setTimeout(function(){
        $.ajax({
          type: "PATCH",
          url: "/admin/sites/websites/"+webDomainId,
          data: { 
            website: {
              active: active
            }
          }
        });
      } ,5);
    }
  }
</script>

