<% content_for :page_title do %>
 <div class="mt-2"></div>
  <%= link_to Spree.t(:websites), admin_sites_websites_path %> /
  <%= Spree.t(:new_website) %>
<% end %>


 <%=form_for "website", url: admin_sites_websites_path, html: {method: :post} do |f|%> 

  <fieldset>
    <div class="form-group field">
      <label>Select Domain:</label>
      <%= collection_select(:website, :domain, @hosted_zones, :origin, :origin, {:prompt => 'Select Web Domain'}, {class: 'select2-clear js-filterable'}) %>
     </div>
     <div class="form-group field">
      <label>Select Hosting Type:</label>
      <%= select_tag :server_type, options_for_select(plan_type_values(current_spree_user)), class: 'form-control', id: 'hosting_type'  %>
     </div>


    <div id="linux-fields" >

      <div class="form-group field">
        <label>Auto-Subdomain:</label>
        <%=f.select 'subdomain',options_for_select([['www.','www'],['None','']], @proxy_resource.try(:subdomain)),{selected: 'www'}, class: 'form-control select2-clear js-filterable' %>
      </div>

    </div>
   
    <%=submit_tag "Add Website",class: 'btn btn-primary'%>

  </fieldset>
<%end%>

<div style="color: red;" class="mt-3">
  <%=@response[:message].html_safe if @response %>
</</div> 



<script type="text/javascript">
  
  $(document).ready(function (argument) {
    $("#hosting_type").on('change',function (argument) {
      var val = $(this).val();

      if (val=='linux') {
        $('#linux-fields').show();
      } 
      else
      {
        $('#linux-fields').hide();

      }
        
    });
  });
</script>