<style type="text/css">
  .modal-body{
    overflow-x: auto;
  }

  .modal-dialog{
    max-width: 700px;
  }

  .modal-body table td{
    padding: 5px 10px;
  }
  .btn-size{
    padding: 0.3rem 0.45rem;
      font-size: 0.8rem;
  }
</style>
<%if current_spree_user.have_linux_access? && current_spree_user.have_windows_access? && @resources.present? && @win_users.present?%>
<div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <th>Database Name</th>
                  <th>Database User</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fs-base">
            <% if @resources.present? %>
                <%@resources.each do |database| %>
                <tr data-hook="admin_orders_index_rows" class="db_<%= database.database_id %>">
                  <td><%=link_to database.database_name, admin_sites_isp_database_path(database.database_id, :db_user_name => database.database_user) %></td>
                  <td><%=database.database_name%></td>
                  <td class="d-flex justify-content-end">
                      <%= link_to  admin_sites_isp_database_path(database.database_id, :db_user_id => database.database_user_id),type: 'button', class: 'btn btn-outline-danger btn-size',style:"margin-right:5px", method: :delete do %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                      <% end %>
                      <%=link_to reset_password_admin_sites_isp_databases_path(email: database.database_name, type: 'create_database', div_class: "db_#{database.database_id}", source: 'isp_databases'), remote: true, class: 'btn btn-outline-primary btn-size', style:"margin-right:5px", title: 'Reset Password' do %>
                      <%= render partial: '/spree/admin/shared/icons/reset_password' %>
                      <% end %>
                      <%=link_to @phpmyAdminUrl, target: '_blank' , class: 'btn btn-outline-primary btn-size', style:"margin-right:5px" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                      </svg>
                      <% end %>
                      <%= link_to 'javascript:void(0);', data: {database: database.database_name, username: database.database_user, password: database.database_password, host: ENV['MYSQL_SERVER_HOSTNAME'], port: ENV['MYSQL_SERVER_PORT'], pwd_div_id: "db_#{database.database_id}_pwd_text", id: database.database_id}, class: 'configure-db-modal-link btn btn-outline-primary btn-size', style:"margin-right:5px", title: 'Configuration Details' do %>
                      <%= render partial: '/spree/admin/shared/icons/gear' %>
                      <% end %>
                      <div class='mt-3 password-text' id="db_<%=database.database_id%>_pwd_text"></div>
                  </td>
                </tr>
                <% end %>
                <% else %>
                  <tr>
                    <td><label class="form-label table_row_label"> No Databases Found </label></td>
                  </tr>
                <% end %>
            </tbody>
          </table>
      </div>
    </div>

    <div class="card mt-3">
      <div class="table-responsive">
      <table class="table table-sm card-table" style="width:100%">
      <thead>
          <tr>
          <th>Database Name</th>
          <th>DatabaseID</th>
          <th>TypeID</th>
          <th>PackageID</th>
          <th>Group Name</th>
          <th style="text-align:end">Actions</th>
          </tr>
      </thead>
      <tbody class="fs-base">
      <% if @resources_win.present? %>
      <%@resources_win.each do |sql_database| %>
        <tr data-hook="admin_orders_index_rows">
        <td><%=link_to sql_database.name, admin_sites_isp_database_path(id: sql_database.id, server_type: 'windows', :db_user_name => sql_database.database_user)%></td>
        <td><%= sql_database.id %></td>
        <td><%= sql_database.type_id %></td>
        <td><%= sql_database.package_id %></td>
        <td><%= sql_database.group_name%></td>
          
        <td class="d-flex justify-content-end">

          <%= link_to  admin_sites_isp_database_path(id: sql_database.id, server_type: 'windows'),type: 'button', data: {confirm: t('windows.ftp_account.delete_alert')} , class: 'btn btn-outline-danger btn-size',style:"margin-right:5px", method: :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          <% end %>
        </td>
        
        </tr>
      <% end %>
      <% else %>
        <tr>
          <td><label class="form-label table_row_label"> No Databases Found </label></td>
        </tr>
      <% end %>
      </tbody>
      </table>
      </div>
      </div>

<%elsif urrent_spree_user.have_linux_access? && @resources.present? %>
    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <th>Database Name</th>
                  <th>Database User</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fs-base">
            <% if @resources.present? %>
                <%@resources.each do |database| %>
                <tr data-hook="admin_orders_index_rows" class="db_<%= database.database_id %>">
                  <td><%=link_to database.database_name, admin_sites_isp_database_path(database.database_id, :db_user_name => database.database_user) %></td>
                  <td><%=database.database_name%></td>
                  <td class="d-flex justify-content-end">
                      <%= link_to  admin_sites_isp_database_path(database.database_id, :db_user_id => database.database_user_id),type: 'button', class: 'btn btn-outline-danger btn-size',style:"margin-right:5px", method: :delete do %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                      <% end %>
                      <%=link_to reset_password_admin_sites_isp_databases_path(email: database.database_name, type: 'create_database', div_class: "db_#{database.database_id}", source: 'isp_databases'), remote: true, class: 'btn btn-outline-primary btn-size', style:"margin-right:5px", title: 'Reset Password' do %>
                      <%= render partial: '/spree/admin/shared/icons/reset_password' %>
                      <% end %>
                      <%=link_to @phpmyAdminUrl, target: '_blank' , class: 'btn btn-outline-primary btn-size', style:"margin-right:5px" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                      </svg>
                      <% end %>
                      <%= link_to 'javascript:void(0);', data: {database: database.database_name, username: database.database_user, password: database.database_password, host: ENV['MYSQL_SERVER_HOSTNAME'], port: ENV['MYSQL_SERVER_PORT'], pwd_div_id: "db_#{database.database_id}_pwd_text", id: database.database_id}, class: 'configure-db-modal-link btn btn-outline-primary btn-size', style:"margin-right:5px", title: 'Configuration Details' do %>
                      <%= render partial: '/spree/admin/shared/icons/gear' %>
                      <% end %>
                      <div class='mt-3 password-text' id="db_<%=database.database_id%>_pwd_text"></div>
                  </td>
                </tr>
                <% end %>
                <% else %>
                  <tr>
                    <td><label class="form-label table_row_label"> No Databases Found </label></td>
                  </tr>
                <% end %>
            </tbody>
          </table>
      </div>
    </div>

    <%else%>

    <div class="card mt-3">
      <div class="table-responsive">
      <table class="table table-sm card-table" style="width:100%">
      <thead>
          <tr>
          <th>Database Name</th>
          <th>DatabaseID</th>
          <th>TypeID</th>
          <th>PackageID</th>
          <th>Group Name</th>
          <th style="text-align:end">Actions</th>
          </tr>
      </thead>
      <tbody class="fs-base">
      <% if @resources_win.present? %>
      <%@resources_win.each do |sql_database| %>
        <tr data-hook="admin_orders_index_rows">
        <td><%=link_to sql_database.name, admin_sites_isp_database_path(id: sql_database.id, server_type: 'windows', :db_user_name => sql_database.database_user)%></td>
        <td><%= sql_database.id %></td>
        <td><%= sql_database.type_id %></td>
        <td><%= sql_database.package_id %></td>
        <td><%= sql_database.group_name%></td>
          
        <td class="d-flex justify-content-end">

          <%= link_to  admin_sites_isp_database_path(id: sql_database.id, server_type: 'windows'),type: 'button', data: {confirm: t('windows.ftp_account.delete_alert')} , class: 'btn btn-outline-danger btn-size',style:"margin-right:5px", method: :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          <% end %>
        </td>
        
        </tr>
      <% end %>
      <% else %>
        <tr>
          <td><label class="form-label table_row_label"> No Databases Found </label></td>
        </tr>
      <% end %>
      </tbody>
      </table>
      </div>
      </div>
    <% end %>
  
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close-button'>Close</button>
              <button type="button" class="btn btn-primary" id='modal-save-button'>Save changes</button>
          </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="databaseModal" tabindex="-1" role="dialog" aria-labelledby="databaseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title">Add Database</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: -8px;">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <%=form_for "database", url: admin_sites_isp_databases_path, html: {method: :post} do |f|%> 
              <fieldset>
                <div class="form-group">
                    <label class="form-label">Select Website:</label>
                    <%#=f.select 'web_domain_id', options_for_select(@websites,@web_id), {}, class: 'form-select', html: {selected: true} %>
                </div>
                <div class="form-group">
                    <label class="form-label">Database Name:</label>
                    <%=f.text_field 'database_name', class: 'form-control' %>
                </div>
                <div class="form-group">
                    <label class="form-label">Database Password:</label>
                    <%=f.text_field 'database_password', type: "password", class: 'form-control' %>
                </div>
                <%=submit_tag "Add Database",class: 'btn btn-primary lift'%>
              </fieldset>
              <% end %>
          </div>
          <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close-button'>Close</button>
              <button type="button" class="btn btn-primary" id='modal-save-button'>Save changes</button>
              </div> -->
        </div>
    </div>
  </div>


<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-db-modal-link', function(){
      var databaseName = $(this).data('database');
      var userName = $(this).data('username');
      var pwdDiv = $(this).data('pwd-div-id');
      if($('#'+pwdDiv).is(':empty')){
        var password = $(this).data('password');
      }
      else{
        var password = $('#'+pwdDiv).html();
      }
      var host = $(this).data('host');
      var port = $(this).data('port');
      var id = $(this).data('id');
      $('#exampleModalLabel2').html("Database Configuration Details");
      $('#exampleModal2 .modal-body').html(`
        <table>
          <tbody class="db_${id}">
            <tr>
              <td><b>Database&nbsp;Name:</b></td>
              <td>${databaseName}</td>
            </tr>
            <tr>
              <td><b>Username:</b></td>
              <td>${userName}</td>
            </tr>
            <tr class="db_${id}">
              <td><b>Password:</b></td>
              <td class="password-text">${password}</td>
            </tr>
            <tr>
              <td><b>Host:</b></td>
              <td>${host}</td>
            </tr>
            <tr>
              <td><b>Port:</b></td>
              <td>${port}</td>
            </tr>
            <tr>
              <td>Reset Password</td>
              <td>
                <a href="/admin/sites/isp_databases/reset_password?email=${userName}&type=create_database&div_class=db_${id}&source=isp_databases" data-remote="true">Reset Pasword</a>
                <div class='password-text'></div>
              </td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal2').modal('show');
    });
  });

  $(document).on('click', '.new_admin_database1', function(event){
    console.log(event)
    event.preventDefault();
    $('#databaseModal').modal('show');
  });

  $(document).on('click', '.close', function(event){
    $('#databaseModal').modal('hide');
  });
</script>
