<style type="text/css">
  .modal-body{
    overflow-x: auto;
  }

  .modal-dialog{
    max-width: 700px;
  }

  .modal-body table td{
    padding: 5px 10px;
  }

  .btn-size{
    padding: 0.3rem 0.45rem;
      font-size: 0.8rem;
  }
</style>

<%if current_spree_user.have_linux_access? || current_spree_user.have_windows_access?%>
  <%if @current_user_website == 'linux'%>
    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <th>Username</th>
                  <th>Directory</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fs-base">
              <% if @ftp_user1.present? %>
                <%@ftp_user1.each do |ftp_user| %>
                <tr data-hook="admin_orders_index_rows" class=" ftp_user_<%=ftp_user.ftp_user_id%>">
                  <td><%=ftp_user.username%></td>
                  <td><%=ftp_user.dir%></td>
                    <td>
                      <span class="d-flex justify-content-end">
                        <%= link_to  admin_sites_ftp_user_path(ftp_user.ftp_user_id),type: 'button', class: 'btn btn-outline-danger btn-size','data-toggle': 'tooltip', 'data-placement':'top' ,title: 'Delete', style: "margin-right:5px", method: :delete do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <% end %>
                        <%=link_to reset_password_admin_sites_ftp_users_path(email: ftp_user.username, type: 'create_ftp_account', div_class: "ftp_user_#{ftp_user.ftp_user_id}"), remote: true, class: 'btn btn-outline-primary btn-size', style: "margin-right:5px",'data-toggle': 'tooltip', 'data-placement':'top' , title: 'Reset Password' do %>
                        <%= render partial: '/spree/admin/shared/icons/reset_password' %>
                        <% end %>
                        <%= link_to 'javascript:void(0);', data: {username: ftp_user.username, password: ftp_user.password, host: ENV['FTP_SERVER_LINUX_HOSTNAME'], port: ENV['FTP_SERVER_LINUX_PORT'], pwd_div_id: "ftp_user1_#{ftp_user.ftp_user_id}_pwd_text", email: ftp_user.username, id: ftp_user.ftp_user_id}, class: 'configure-modal-link btn btn-outline-primary btn-size','data-toggle': 'tooltip', 'data-placement':'top' , title: 'Configuration Details' do  %>
                        <%= render partial: '/spree/admin/shared/icons/gear' %>
                        <% end %>
                      </span>
                      <div class='mt-3 password-text' id="ftp_user_<%=ftp_user.ftp_user_id%>_pwd_text"></div>
                  </td>
                </tr>
                <% end %>
              <% else %>
                <tr>
                  <td><label class="form-label table_row_label"> No FTP Users Found </label></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  <%end%>
  
  <%if @current_user_website == 'windows'%>
    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <th>Username</th>
                  <th>Directory</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fsbase">
            <% if @win_users.present? %>
                <% @win_users.compact.each do |ftp_account|%>
                <tr>
                  <td><%= ftp_account.name %></td>
                  <td><%= ftp_account.folder %></td>
                  <td>
                      <span class="d-flex justify-content-end">
                      <%= link_to  admin_sites_ftp_user_path(id: ftp_account.id, server_type: 'windows'),type: 'button', class: 'btn btn-outline-danger btn-size','data-toggle': 'tooltip', 'data-placement':'top' ,title: 'Delete', style: "margin-right:5px", data: {confirm: t('windows.ftp_account.delete_alert')}, method: :delete do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <% end %>
                      <%= link_to 'javascript:void(0);', data: {username: ftp_account.name, password: ftp_account.password, host: ENV['SOLID_CP_WEB_SERVER_IP'], port: ENV['FTP_SERVER_LINUX_PORT'], pwd_div_id: "ftp_user_#{ftp_account.id}_pwd_text", email: ftp_account.name, id: ftp_account.id}, class: 'configure-modal-link btn btn-outline-primary btn-size','data-toggle': 'tooltip', 'data-placement':'top' , title: 'Configuration Details' do  %>
                        <%= render partial: '/spree/admin/shared/icons/gear' %>
                      <% end %>
                      </span>
                  </td>
                </tr>
                <%end%>
                <% else %>
                <tr>
                  <td><label class="form-label table_row_label"> No FTP Users </label></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  <%end%>
<%#else%>
  
    

<% end %>

    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
          <button type="button" class="close-button" data-dismiss="modal" aria-label="Close" data-bs-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close-button' data-bs-dismiss="modal">Close</button>
          <!--button type="button" class="btn btn-primary" id='modal-save-button'>Save changes</button-->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ftpModal" tabindex="-1" role="dialog" aria-labelledby="ftpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add FTP User</h3>
        <button type="button" class="close-button" data-dismiss="modal" aria-label="Close" data-bs-dismiss="modal" style="margin-right: -8px;">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <%=form_for "ftp_user", url: admin_sites_ftp_users_path, html: {method: :post} do |f|%> 

            <fieldset>
              <%=hidden_field_tag :server_type, @current_user_website %>
              <div class="form-group">
                <label class="form-label">Username:</label>
                <%=f.text_field 'username', class: 'form-control', placeholder: "Please enter UserName", required: true %>
              </div>

              <div class="form-group">
                <label class="form-label">Password:</label>
                <%=f.password_field 'password', class: 'form-control', placeholder: "Please enter Password", required: true%>
              </div>
              <% if current_spree_user.have_windows_access? && (@current_user_website == 'windows')%>
                <div class="form-group">
                  <%=f.hidden_field :domain, value: @website_list.first%>
                </div>
              <%end%>
              <% if current_spree_user.have_linux_access? && (@current_user_website == 'linux')%>
                <div class="form-group">
                  <%=f.hidden_field :parent_domain_id, value: @isp_websites[0][:domain_id]%>
                  <%=f.hidden_field :dir, value: @isp_websites[0][:document_root]%>
                  <%=f.hidden_field :gid, value: @isp_websites[0][:system_group]%>
                  <%=f.hidden_field :uid, value: @isp_websites[0][:system_user]%>
                </div>
              <%end%>
              <%=submit_tag "Add FTP User",class: 'btn btn-primary lift mb-4'%>

            </fieldset>
          <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    })

    $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
    });

    $(document).on('click', '.configure-modal-link', function(){
    var userName = $(this).data('username');
    var pwdDiv = $(this).data('pwd-div-id');
    
    if($('#'+pwdDiv).is(':empty')){
      
        var password = $(this).data('password');
    }
    else{

        var password = $('#'+pwdDiv).html();
    }
    var host = $(this).data('host');
    var port = $(this).data('port');
    var email = $(this).data('email');
    var id = $(this).data('id');
    $('#exampleModalLabel1').html("FTP Configuration Details");
    $('#exampleModal1 .modal-body').html(`
        <table>
        <tbody class="ftp_user_${id}">
            <tr>
            <td><b>Username:</b></td>
            <td>${userName}</td>
            </tr>
            
            <tr>
            <td><b>Host:</b></td>
            <td>${host}</td>
            </tr>
            <tr>
            <td><b>Port:</b></td>
            <td>${port}</td>
            </tr>
            <tr>
            <td>Reset Password</td>
            <td>
                <a href="/admin/sites/ftp_users/reset_password?email=${email}&type=create_ftp_account&div_class=ftp_user1_${id}" data-remote="true">Reset Password</a>
                <div class='password-text1' id="ftp_user1_${id}_pwd_text"></div>
            </td>
            </tr>
        </tbody>
        </table>
    `);
    $('#modal-save-button').hide();
    $('#exampleModal1').modal('show');
    });

    var updateFtpUser = function(element){
    var ftpUserId = element.attributes.data_ftp_user_id.value;
    var domainStatus = element.value;
    if (domainStatus == 'y') {
        var dataConfirm = "Are you sure to Deactivate this Domain?, This will affect your other services";
        var active = 'n';
    }
    else {
        var dataConfirm = "Are you sure to Activate this Domain?";
        var active = 'y';
    }

    result = confirm(dataConfirm);
    if (result) {
        setTimeout(function(){
        $.ajax({
            type: "PATCH",
            url: "/admin/sites/ftp_users/"+ftpUserId,
            data: { 
            ftp_user: {
                active: active
            }
            }
        });
        } ,5);
    }
    }

$(document).on('click', '.admin_new_ftp_user1', function(event){
  event.preventDefault();
  $('#ftpModal').modal('show');
});

$(document).on('click', '.btn-close', function(event){
  $('#ftpModal').modal('hide');
});


$('#ftp_user_parent_domain_id').change(function () {
    var domain_id = $('#ftp_user_parent_domain_id').val();
    var currentDomainId = $('#ftp_user_parent_domain_'+domain_id);
    var dir  = currentDomainId.data("dir");
    $('#ftp_user_dir').val(dir);
    var uid  = currentDomainId.data("uid");
    $('#ftp_user_uid').val(uid);
    var gid  = currentDomainId.data("gid");
    $('#ftp_user_gid').val(gid);
  });

$(document).ready(function (argument) {
    $("#hosting_type").on('change',function (argument) {
      var val = $(this).val();
      if (val=='linux') {
        $('#linux-fields').show();
        $('#windows-fields').hide();
      } 
      else
      {
        $('#linux-fields').hide();
        $('#windows-fields').show();
      }
    });
});

$('#domain_name_dropdown').on('change', function(){
      var val = $(this).val();
      var folder = "\\"+val+"\\wwwroot"
      $('#folder_path').val(folder)
    });
  
</script>