<style type="text/css">
  .modal-body{
    overflow-x: auto;
  }

  .modal-dialog{
    max-width: 700px;
  }

  .modal-body table td{
    padding: 5px 10px;
  }

  .btn-size{
    padding: 0.3rem 0.45rem;
      font-size: 0.8rem;
  }
</style>

<%if current_spree_user.have_linux_access? && current_spree_user.have_windows_access? && @ftp_user1.present? && @win_users.present?%>
    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <!-- <th>ID</th> -->
                  <!-- <th>Web Domain</th> -->
                  <th>Username</th>
                  <!-- <th>User identifier (UID)</th> -->
                  <!-- <th>Group identifier (GID)</th> -->
                  <th>Directory</th>
                  <th>Active</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fs-base">
            <% if @ftp_user1.present? %>
                <%@ftp_user1.each do |ftp_user| %>
                <tr data-hook="admin_orders_index_rows" class=" ftp_user_<%=ftp_user.ftp_user_id%>">
                  <!-- <td><%=ftp_user.ftp_user_id%></td> -->
                  <!-- <td><%=ftp_user.parent_domain_id%></td> -->
                  <td><%=ftp_user.username%></td>
                  <!-- <td><%=ftp_user.uid%></td> -->
                  <!-- <td><%=ftp_user.gid%></td> -->
                  <td><%=ftp_user.dir%></td>
                  <td>
                      <div class="form-check form-switch">
                        <%= check_box_tag('active', ftp_user.active, ('checked' if (ftp_user.active == 'y')), class: "form-check-input", data_ftp_user_id: ftp_user.ftp_user_id, id: "data_ftp_user_#{ftp_user.ftp_user_id}", onclick: "updateFtpUser(this)" ) %>
                        <label class="form-check-label" for="data_ftp_user_<%=ftp_user.ftp_user_id %>"></label>
                      </div>
                  <td>
                      <span class="d-flex justify-content-end">
                        <%= link_to  admin_sites_ftp_user_path(ftp_user.ftp_user_id),type: 'button', class: 'btn btn-outline-danger btn-size', style: "margin-right:5px", method: :delete do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <% end %>
                        <%=link_to reset_password_admin_sites_ftp_users_path(email: ftp_user.username, type: 'create_ftp_account', div_class: "ftp_user_#{ftp_user.ftp_user_id}"), remote: true, class: 'btn btn-outline-primary btn-size', style: "margin-right:5px", title: 'Reset Password' do %>
                        <%= render partial: '/spree/admin/shared/icons/reset_password' %>
                        <% end %>
                        <%= link_to 'javascript:void(0);', data: {username: ftp_user.username, password: ftp_user.password, host: ENV['FTP_SERVER_LINUX_HOSTNAME'], port: ENV['FTP_SERVER_LINUX_PORT'], pwd_div_id: "ftp_user_#{ftp_user.ftp_user_id}_pwd_text", email: ftp_user.username, id: ftp_user.ftp_user_id}, class: 'configure-modal-link btn btn-outline-primary btn-size', title: 'Configuration Details' do  %>
                        <%= render partial: '/spree/admin/shared/icons/gear' %>
                        <% end %>
                      </span>
                      <div class='mt-3 password-text' id="ftp_user_<%=ftp_user.ftp_user_id%>_pwd_text"></div>
                  </td>
                </tr>
                <% end %>
                <% else %>
                <tr>
                  <td><label class="form-label"> No FTP Users Found </label></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  

    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <th>Username</th>
                  <th>Folder</th>
                  <!--  <th>Enabled</th> -->
                  <th>Can Read</th>
                  <th>Can Write</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fsbase">
            <% if @win_users.present? %>
                <% @win_users.compact.each do |ftp_account|%>
                <tr>
                  <td><%= ftp_account.name %></td>
                  <td><%= ftp_account.folder %></td>
                  <!-- <td><%#= ftp_account.enabled %></td> -->
                  <td style="text-align: center;"><% if ftp_account.can_read%>
                      <i class="fe fe-check-circle" style="color: green;"></i>
                      <% else %>
                      <i class="fe fe-x-circle" style="color: red;"></i>
                      <% end %>
                  </td>
                  <td style="text-align: center;"><% if ftp_account.can_write%>
                      <i class="fe fe-check-circle" style="color: green;"></i>
                      <% else %>
                      <i class="fe fe-x-circle" style="color: red;"></i>
                      <% end %>
                  </td>
                  <td>
                      <span class="d-flex justify-content-end">
                      <%= link_to  admin_sites_ftp_user_path(id: ftp_account.id, server_type: 'windows'),type: 'button', class: 'btn btn-outline-danger btn-size', style: "margin-right:5px", data: {confirm: t('windows.ftp_account.delete_alert')}, method: :delete do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <% end %>
                      </span>
                  </td>
                </tr>
                <%end%>
                <% else %>
                <tr>
                  <td><label class="form-label table_row_label"> No FTP Users </label></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

<%elsif current_spree_user.have_linux_access? && @ftp_user1.present?%>
  
    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <!-- <th>ID</th> -->
                  <!-- <th>Web Domain</th> -->
                  <th>Username</th>
                  <!-- <th>User identifier (UID)</th> -->
                  <!-- <th>Group identifier (GID)</th> -->
                  <th>Directory</th>
                  <th>Active</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <% if @ftp_user1.present? %>
            <tbody class="fsbase">
                <%@ftp_user1.each do |ftp_user| %>
                <tr data-hook="admin_orders_index_rows" class=" ftp_user_<%=ftp_user.ftp_user_id%>">
                  <!-- <td><%=ftp_user.ftp_user_id%></td> -->
                  <!-- <td><%=ftp_user.parent_domain_id%></td> -->
                  <td><%=ftp_user.username%></td>
                  <!-- <td><%=ftp_user.uid%></td> -->
                  <!-- <td><%=ftp_user.gid%></td> -->
                  <td><%=ftp_user.dir%></td>
                  <td>
                      <div class="form-check form-switch">
                        <%= check_box_tag('active', ftp_user.active, ('checked' if (ftp_user.active == 'y')), class: "form-check-input", data_ftp_user_id: ftp_user.ftp_user_id, id: "data_ftp_user_#{ftp_user.ftp_user_id}", onclick: "updateFtpUser(this)" ) %>
                        <label class="form-check-label" for="data_ftp_user_<%=ftp_user.ftp_user_id %>"></label>
                      </div>
                  <td>
                      <span class="d-flex justify-content-end">
                        <%= link_to  admin_sites_ftp_user_path(ftp_user.ftp_user_id),type: 'button', class: 'btn btn-outline-danger btn-size', style: "margin-right:5px", method: :delete do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <% end %>
                        <%=link_to reset_password_admin_sites_ftp_users_path(email: ftp_user.username, type: 'create_ftp_account', div_class: "ftp_user_#{ftp_user.ftp_user_id}"), remote: true, class: 'btn btn-outline-primary btn-size', style: "margin-right:5px", title: 'Reset Password' do %>
                        <%= render partial: '/spree/admin/shared/icons/reset_password' %>
                        <% end %>
                        <%= link_to 'javascript:void(0);', data: {username: ftp_user.username, password: ftp_user.password, host: ENV['FTP_SERVER_LINUX_HOSTNAME'], port: ENV['FTP_SERVER_LINUX_PORT'], pwd_div_id: "ftp_user_#{ftp_user.ftp_user_id}_pwd_text", email: ftp_user.username, id: ftp_user.ftp_user_id}, class: 'configure-modal-link btn btn-outline-primary btn-size', title: 'Configuration Details' do  %>
                        <%= render partial: '/spree/admin/shared/icons/gear' %>
                        <% end %>
                      </span>
                      <div class='mt-3 password-text' id="ftp_user_<%=ftp_user.ftp_user_id%>_pwd_text"></div>
                  </td>
                </tr>
                <% end %>
                <% else %>
                <tr>
                  <td><label class="form-label table_row_label"> No FTP Users Found </label></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

<% else %>

    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <th>Username</th>
                  <th>Folder</th>
                  <!--  <th>Enabled</th> -->
                  <th>Can Read</th>
                  <th>Can Write</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fsbase">
            <% if @win_users.present? %>
                <% @win_users.each do |ftp_account|%>
                <tr>
                  <td><%= ftp_account.name %></td>
                  <td><%= ftp_account.folder %></td>
                  <!-- <td><%#= ftp_account.enabled %></td> -->
                  <td style="text-align: center;"><% if ftp_account.can_read%>
                      <i class="fe fe-check-circle" style="color: green;"></i>
                      <% else %>
                      <i class="fe fe-x-circle" style="color: red;"></i>
                      <% end %>
                  </td>
                  <td style="text-align: center;"><% if ftp_account.can_write%>
                      <i class="fe fe-check-circle" style="color: green;"></i>
                      <% else %>
                      <i class="fe fe-x-circle" style="color: red;"></i>
                      <% end %>
                  </td>
                  <td>
                      <span class="d-flex justify-content-end">
                      <%= link_to  admin_sites_ftp_user_path(id: ftp_account.id, server_type: 'windows'),type: 'button', data: {confirm: t('windows.ftp_account.delete_alert')} , class: 'btn btn-outline-danger btn-size',style:"margin-right:5px", method: :delete do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      <% end %>
                      </span>
                  </td>
                </tr>
                <%end%>
                <% else %>
                <tr>
                  <td><label class="form-label table_row_label"> No FTP Users </label></td>
                </tr>
              <% end %> 
            </tbody>
          </table>
      </div>
    </div>

<% end %>

    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bs-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close-button' data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id='modal-save-button'>Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ftpModal" tabindex="-1" role="dialog" aria-labelledby="ftpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add FTP User</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: -8px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close-button'>Close</button>
        <button type="button" class="btn btn-primary" id='modal-save-button'>Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    })

    $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
    });

    $(document).on('click', '.configure-modal-link', function(){
    var userName = $(this).data('username');
    var pwdDiv = $(this).data('pwd-div-id');
    if($('#'+pwdDiv).is(':empty')){
        var password = $(this).data('password');
    }
    else{
        var password = $('#'+pwdDiv).html();
    }
    var host = $(this).data('host');
    var port = $(this).data('port');
    var email = $(this).data('email');
    var id = $(this).data('id');
    $('#exampleModalLabel1').html("FTP Configuration Details");
    $('#exampleModal1 .modal-body').html(`
        <table>
        <tbody class="ftp_user_${id}">
            <tr>
            <td><b>Username:</b></td>
            <td>${userName}</td>
            </tr>
            
            <tr>
            <td><b>Host:</b></td>
            <td>${host}</td>
            </tr>
            <tr>
            <td><b>Port:</b></td>
            <td>${port}</td>
            </tr>
            <tr>
            <td>Reset Password</td>
            <td>
                <a href="/admin/sites/ftp_users/reset_password?email=${email}&type=create_ftp_account&div_class=ftp_user_${id}" data-remote="true">Reset Pasword</a>
                <div class='password-text'></div>
            </td>
            </tr>
        </tbody>
        </table>
    `);
    $('#modal-save-button').hide();
    $('#exampleModal1').modal('show');
    });

    var updateFtpUser = function(element){
    var ftpUserId = element.attributes.data_ftp_user_id.value;
    var domainStatus = element.value;
    if (domainStatus == 'y') {
        var dataConfirm = "Are you sure to Deactivate this Domain?, This will affect your other services";
        var active = 'n';
    }
    else {
        var dataConfirm = "Are you sure to Activate this Domain?";
        var active = 'y';
    }

    result = confirm(dataConfirm);
    if (result) {
        setTimeout(function(){
        $.ajax({
            type: "PATCH",
            url: "/admin/sites/ftp_users/"+ftpUserId,
            data: { 
            ftp_user: {
                active: active
            }
            }
        });
        } ,5);
    }
    }

$(document).on('click', '.admin_new_ftp_user1', function(event){
  event.preventDefault();
  $('#ftpModal').modal('show');
});

$(document).on('click', '.btn-close', function(event){
  $('#ftpModal').modal('hide');
});

$(document).ready(function (argument) {
    $("#hosting_type").on('change',function (argument) {
      var val = $(this).val();
      if (val=='linux') {
        $('#linux-fields').show();
        $('#windows-fields').hide();
      } 
      else
      {
        $('#linux-fields').hide();
        $('#windows-fields').show();
      }
    });
});

$('#domain_name_dropdown').on('change', function(){
      var val = $(this).text();
      var folder = "\\"+val+"\\wwwroot"
      $('#folder_path').val(folder)
    });
  
</script>
