<style type="text/css">
  .modal-body{
    overflow-x: auto;
  }

  .modal-dialog{
    max-width: 700px;
  }

  .modal-body table td{
    padding: 5px 10px;
  }

  .btn-size{
    padding: 0.3rem 0.45rem;
      font-size: 0.8rem;
  }
</style>

<div class="card mt-3">
  <div class="table-responsive">
    <table class="table table-sm card-table" style="width:100%">
      <thead>
      <tr>
        <th> Username </th>
        <th> Directory </th>
        <th> Password</th>
        <th> Actions </th>
      </tr>
      </thead>
      <tbody class="fs-base" id="ftp_users_table">
        <% if @ftp_users.present? %>
          <%@ftp_users.each do |ftp_user| %>
            <%= render :partial=> 'spree/admin/sites/ftp_users/row', locals: { ftp_user: ftp_user }%>
          <% end %>
        <% else %>
          <tr>
            <td><label class="form-label table_row_label"> No FTP Users Found </label></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<%if current_spree_user.have_linux_access? || current_spree_user.have_windows_access?%>
  <%if @current_user_website == 'windows'%>
    <div class="card mt-3">
      <div class="table-responsive">
          <table class="table table-sm card-table" style="width:100%">
            <thead>
                <tr>
                  <th>Username</th>
                  <th>Directory</th>
                  <th style="text-align:end">Actions</th>
                </tr>
            </thead>
            <tbody class="fsbase">
            <% if @win_users.present? %>
                <% @win_users.compact.each do |ftp_account|%>
                <tr>
                  <td><%= ftp_account.name %></td>
                  <td><%= ftp_account.folder %></td>
                  <td>
                      <span class="d-flex justify-content-end">
                      <%= link_to  admin_sites_ftp_user_path(id: ftp_account.id, server_type: 'windows'),type: 'button', class: 'btn btn-outline-danger btn-size','data-toggle': 'tooltip', 'data-placement':'top' ,title: 'Delete', style: "margin-right:5px", data: {confirm: t('windows.ftp_account.delete_alert')}, method: :delete do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <% end %>
                      <%= link_to 'javascript:void(0);', data: {username: ftp_account.name, password: ftp_account.password, host: ENV['FTP_SERVER_WINDOWS_HOSTNAME'], port: ENV['FTP_SERVER_WINDOWS_PORT'], pwd_div_id: "ftp_user_#{ftp_account.id}_pwd_text", server_type: @current_user_website,  email: ftp_account.name, id: ftp_account.id}, class: 'configure-modal-link btn btn-outline-primary btn-size','data-toggle': 'tooltip', 'data-placement':'top' , title: 'Configuration Details' do  %>
                        <%= render partial: '/spree/admin/shared/icons/gear' %>
                      <% end %>
                      </span>
                  </td>
                </tr>
                <%end%>
                <% else %>
                <tr>
                  <td><label class="form-label table_row_label"> No FTP Users </label></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  <%end%>
<% end %>


<script type="text/javascript">
    
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })

    $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');


    var updateFtpUser = function(element){
      var ftpUserId = element.attributes.data_ftp_user_id.value;
      var domainStatus = element.value;
      if (domainStatus == 'y') {
          var dataConfirm = "Are you sure to Deactivate this Domain?, This will affect your other services";
          var active = 'n';
      }
      else {
          var dataConfirm = "Are you sure to Activate this Domain?";
          var active = 'y';
      }

      result = confirm(dataConfirm);

      if (result) {
          setTimeout(function(){
          $.ajax({
              type: "PATCH",
              url: "/admin/sites/ftp_users/"+ftpUserId,
              data: { 
              ftp_user: {
                  active: active
              }
              }
          });
          } ,5);
      }
    }

    
    $(document).on('click', '.btn-close', function(event){
      $('#ftpModal').modal('hide');
    });

  });


</script>