<% if @mailboxes.present? %>
<div class="card mt-4">
    <div class="table-responsive">
      <table class="table table-sm card-table" style="width:100%">
        <thead>
          <tr>
          <th>Email</th>
          <!--<th>Realname</th>-->
          <th>AutoRespond</th>
          <th>Receiving</th>
          <th>SMTP</th>
          <th>Inbox</th>
          <th>IMAP</th>
          <th>POP3</th>
          <th style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody class="fs-base">
        <%@mailboxes.each do |mailbox| %>
          <tr data-hook="admin_orders_index_rows">
            <td><%= mailbox.email%></td>
            <!--<td><%= mailbox.name%></td>-->
            <td style="text-align: center;"><% if mailbox.autoresponder == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if mailbox.postfix == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if mailbox.disablesmtp == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"> <% if ['y','n'].reject{|x| x == mailbox.disablesmtp}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if ['y','n'].reject{|x| x == mailbox.disableimap}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if ['y','n'].reject{|x| x == mailbox.disablepop3}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td>

            <span class="d-flex">
            <%=link_to '<i class="fe fe-trash"></i>'.html_safe,admin_mail_mail_box_path(id: mailbox.mailuser_id), method: :delete, data: {confirm: t('general.delete')},class:"btn btn-danger btn-size", style:"margin-right:4px"%>
            <%=link_to '<i class="fe fe-edit"></i>'.html_safe,edit_admin_mail_mail_box_path(id: mailbox.mailuser_id),class:"btn btn-success btn-size", style:"margin-right:4px"%> 
              <%=link_to '<i class="fe fe-mail"></i>'.html_safe, get_web_mail_client_url, target: '_blank' , class:"btn btn-primary btn-size"%>  
             
               <%= link_to 'javascript:void(0);', data: {email: mailbox.email, name: mailbox.name, smtp: ENV['OPSPI_SMTP_SERVER'], imap: ENV['MAIL_SERVER_IMAP_URL'], pop: ENV['MAIL_SERVER_POP_URL'], webmail_url: ENV['WEBMAIL_URL'],smtp: ENV['MAIL_SERVER_SMTP_URL']}, class: 'ml-2 configure-mailbox-modal-link btn btn-outline-primary btn-size', title: 'Configuration Details' do  %>
                  <%= render partial: '/spree/admin/shared/icons/gear' %>
                <% end %>
            </span>
            
            </td>  
          </tr>
        <% end %>
        
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
  <div class="alert alert-secondary no-objects-found">
    <label class="form-label" style="margin-top: 0.5rem;"> No Mail Boxes Found </label>
  </div>
<% end %>


  <%= render partial: '/spree/admin/shared/modal/modal' %>

<div class="modal fade" id="mailboxModal" tabindex="-1" role="dialog" aria-labelledby="mailboxModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel2">Add Mailbox</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: -8px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%=form_for "mailuser", url: admin_mail_mail_boxes_path, html: {method: :post} do |f|%> 

        <%=hidden_field_tag :domain_id, @mail_domain.try("domain_id")%>
        <fieldset>
          <div class="form-group">
            <label class="form-label">Name</label>
            <%=f.text_field 'name', value: @mail_user.try(:name), class: 'form-control'%>
          </div>
      
          <div class="form-group">
            <label class="form-label">Email</label>
      
            <div class="input-group">
               <%=f.text_field 'email', value: @mail_user.try(:email).try(:split,'@').try(:first), class: 'form-control', required: true, style:"width: 50%;"%>
                <span class="input-group-text">@</span>
                <%=select_tag 'mail_domain', options_for_select(@domains,params[:zone_name]), class: 'form-select'%>
            </div>
          </div>
      
          <div class="form-group">
            <label class="form-label">Password</label>
            <%=f.password_field 'password', class: 'form-control'%>
          </div>
      
          <div class="form-group">
            <label class="form-label">Quota (0 for unlimited)</label>
            <%=f.text_field 'quota', value: @mail_user.try(:quota) || 0, class: 'form-control'%>
          </div>
      
           <div class="form-group">
            <label class="form-label">Send copy to (Separate multiple email addresses with commas)</label>
            <%=f.text_field 'cc', value: @mail_user.try(:cc), class: 'form-control'%>
          </div>
       
      
          <div class="form-group form-check">
            <label class="form-check-label">Copy during delivery</label>
            <%=f.check_box 'forward_in_lda', value: @mail_user.try(:forward_in_lda),class: 'form-check-input list-checkbox'%>
          </div>
          
          <div class="form-group">
            <label class="form-label">Spamfilter</label>
            <%=f.select 'policy', options_for_select([['- Inherit domain setting -',0],['Non-paying',1],['Normal',5],['Permissive',7],['Trigger happy',6],['Uncensored',2],['Wants all spam',3],['Wants viruses',4]], @mail_user.try(:policy)), {}, class: 'form-select'%>
          </div>
      
          <div class="form-group form-check">
            <label class="form-check-label">Enable receiving</label>
            <%=f.check_box 'postfix',{ value: 'y', checked:  true , class: 'form-check-input list-checkbox'}, 'y', 'n'%>
          </div>
          
      
          <div class="form-group form-check">
            <label class="form-check-label">Disable sending</label>
            <%=f.check_box 'disablesmtp', { value: 'y',class: 'form-check-input list-checkbox'} , 'y', 'n'%>
          </div>
      
          <div class="form-group form-check">
            <label class="form-check-label">Disable (local) delivering</label>
            <%=f.check_box 'disabledeliver', { value: 'y', class: 'form-check-input list-checkbox'} , 'y', 'n'%>
          </div>
      
           <div class="form-group form-check">
            <label class="form-check-label">Enable greylisting</label>
            <%=f.check_box 'greylisting', { value: 'y',class: 'form-check-input list-checkbox'} , 'y', 'n'%>
          </div>
      
           <div class="form-group form-check">
            <label class="form-check-label">Disable IMAP</label>
            <%=f.check_box 'disableimap', { value: 'y', class: 'form-check-input list-checkbox'} , 'y', 'n'%>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">Disable POP3</label>
            <%=f.check_box 'disablepop3', { value: 'y',  class: 'form-check-input list-checkbox' } , 'y', 'n'%>
          </div>
      
          <%=submit_tag "Add Mailbox",class: 'btn btn-primary lift mb-4'%>
      
        </fieldset>
      <%end%>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close-button'>Close</button>
        <button type="button" class="btn btn-primary" id='modal-save-button'>Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-mailbox-modal-link', function(){
      var email = $(this).data('email');
      var name = $(this).data('name');
      var smtp = $(this).data('smtp');
      var imap = $(this).data('imap');
      var pop = $(this).data('pop');
      var smtp = $(this).data('smtp');
      var webmailUrl = $(this).data('webmail-url');
      $('#exampleModalLabel').html("MailBox Configuration Details");
      // <tr>
      //         <td><b>SMTP:</b></td>
      //         <td>${smtp}</td>
      //       </tr>
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody>
            <tr>
              <td><b>Email:</b></td>
              <td>${email}</td>
            </tr>
            <tr>
              <td><b>Name:</b></td>
              <td>${name}</td>
            </tr>
            
            <tr>
              <td><b>POP:</b></td>
              <td>${pop}</td>
            </tr>
            <tr>
              <td><b>SMTP:</b></td>
              <td>${smtp}</td>
            </tr>
            <tr>
              <td><b>WEBMAIL&nbsp;URL:</b></td>
              <td>${webmailUrl}</td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
    });
  });

$(document).on('click', '.admin_new_domain1', function(event){
  event.preventDefault();
  $('#mailboxModal').modal('show');
});

$(document).on('click', '.btn-close', function(event){
  $('#mailboxModal').modal('hide');
});
</script>