<style>
p{
  margin-top: 0;
    margin-bottom: -1rem;
}
</style>

<%user_domains.each do |user_domain|%>
  <% hosted_zone = user_domain.hosted_zone %>
  <% next if hosted_zone.blank?%>
  <div class="card">
    <div class="card-body">
      <!-- Text -->
      <div class="d-flex" style="justify-content: space-between;">
      <p class="card-text" style="word-break: break-all;">
      <%if user_domain.web_hosting_type.nil?%>
      <span class="badge bg-secondary-soft">No Website</span>
      <%elsif user_domain.web_hosting_type == 'linux'%>
      <span>
      <%= render partial: '/spree/admin/shared/icons/linuxicon' %>
      </span>
      <%elsif user_domain.web_hosting_type == 'windows'%>
      <span>
      <%= render partial: '/spree/admin/shared/icons/windowsicon' %>
      </span>
      <%end%>
      <%=link_to hosted_zone.name, "/admin/dns/hosted_zones/zone_overview?zone_name=#{hosted_zone.name}&dns_id=#{hosted_zone.isp_config_host_zone_id}&user_domain_id=#{user_domain.id}"%>
      </p>
      <span class="ml-2 justify-content-end">
      <%= link_to  admin_dns_hosted_zone_path(hosted_zone.isp_config_host_zone_id),type: 'button', data: {confirm: t('isp_config.host_zone.delete_alert')} , class: 'btn btn-outline-danger btn-size','data-toggle': 'tooltip', 'data-placement':'top' ,title: 'Delete',style:"margin-right:5px", method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      <% end %>
               
      <%= link_to 'javascript:void(0);', data: {origin: hosted_zone.name, ns1: user_domain.nameserver1, ns2: user_domain.nameserver2}, class: ' configure-dns-modal-link btn btn-outline-primary btn-size', id: "dns_config_details_#{hosted_zone.name}",'data-toggle': 'tooltip', 'data-placement':'top' , title: 'Configuration Details' do  %>
        <%= render partial: '/spree/admin/shared/icons/gear' %>
      <% end %>
        </span>
        </div>
    </div>
  </div>
<%end%>

<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>