<style>
p{
  margin-top: 0;
    margin-bottom: -1rem;
}
</style>

<%user_domains.each do |user_domain|%>
  <% hosted_zone = user_domain.hosted_zone %>
  <% next if hosted_zone.blank?%>
  <div class="card <%= user_domain.active == false ? 'disabled' : ''%>">
    <div class="card-body">
      <!-- Text -->
      <div class="d-flex" style="justify-content: space-between;">
      <p class="card-text" style="word-break: break-all;">
      <%if user_domain.web_hosting_type.nil?%>
      <span class="badge bg-secondary-soft">No Website</span>
      <%elsif user_domain.web_hosting_type == 'linux'%>
      <span>
      <%= render partial: '/spree/admin/shared/icons/linuxicon' %>
      </span>
      <%elsif user_domain.web_hosting_type == 'windows'%>
      <span>
      <%= render partial: '/spree/admin/shared/icons/windowsicon' %>
      </span>
      <%end%>

      <% if user_domain.active? %>
       <%=link_to hosted_zone.name, "/admin/dns/hosted_zones/zone_overview?zone_name=#{hosted_zone.name}&dns_id=#{hosted_zone.isp_config_host_zone_id}&user_domain_id=#{user_domain.id}"%>
       <%else%>
        <%= user_domain.domain%>
       <%end%>
      </p>
      <span class="ml-2 justify-content-end">

          <%if user_domain.active?%>
           
              <%= link_to  admin_dns_hosted_zone_path(hosted_zone.isp_config_host_zone_id, user_domain_id: user_domain.id),type: 'button', data: {confirm: t('isp_config.host_zone.delete_alert')} , class: 'btn btn-outline-danger btn-size','data-toggle': 'tooltip', 'data-placement':'top' ,title: 'Delete',style:"margin-right:5px", method: :delete do %>
             <%=render :partial=> 'spree/admin/shared/icons/delete'%>
            <% end %>
          <%#end%>
                   
          <%= link_to 'javascript:void(0);', data: {origin: hosted_zone.name, ns1: user_domain.nameserver1, ns2: user_domain.nameserver2}, class: ' configure-dns-modal-link btn btn-outline-primary btn-size', id: "dns_config_details_#{hosted_zone.name}",'data-toggle': 'tooltip', 'data-placement':'top' , title: 'Configuration Details' do  %>
            <%= render partial: '/spree/admin/shared/icons/gear' %>
          <% end %>
          <%else%>
            <span class="fe fe-clock disable-box"></span>
        </span>
        <% end %>
        </div>
    </div>
  </div>
<%end%>

<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>