<% if @spam_filter_black.present? %>
<div class="card mt-4">
<div class="table-responsive">
<table class="table table-sm card-table" style="width:100%">
  <thead>
    <tr>
    <th>Email</th>
    <th>Active</th>
    <th>Priority</th>
    <th style="text-align: end">Actions</th>
    </tr>
  </thead>
  <tbody class="fsbase">
  <%@spam_filter_black.each do |resource| %>
    <tr data-hook="admin_orders_index_rows">
      <td><%=resource.email%></td>
      <td><%=resource.active%></td>
      <td><%=resource.priority%></td>
      <td>
      <span class="d-flex justify-content-end">
        <%=link_to '<i class="fe fe-edit"></i>'.html_safe,edit_admin_mail_spam_filter_blacklist_path(id: resource.wblist_id),class:"btn btn-success btn-size", style: "margin-right:5px"%> 
        <%=link_to '<i class="fe fe-trash"></i>'.html_safe,admin_mail_spam_filter_blacklist_path(id: resource.wblist_id), method: :delete, data: {confirm: t('general.delete')},class:"btn btn-danger btn-size"%>
      </span>
      </td>  
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
  <label class="form-label" style="margin-top: 0.5rem;"> No Spamfilter Blacklist found.</label>
  </div>
<% end %>

<div class="modal fade" id="spamBlackModal" tabindex="-1" role="dialog" aria-labelledby="spamBlackModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add Spamfilter Blacklist</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: -8px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%=form_for "spamfilter", url: admin_mail_spam_filter_blacklists_path, html: {method: :post} do |f|%> 

        <fieldset>
          <div class="form-group">
            <label class="form-label">Email</label>
            <%=f.email_field 'email', value: @filter.try(:email), class: 'form-control'%>
          </div>
      
           <div class="form-group">
            <label class="form-label">Priority</label>
            <%=f.select 'priority',options_for_select(get_priority_dropdown, @filter.try(:priority)),{}, class: 'form-select'%>
          </div>
                
          <div class="form-group">
            <label class="form-label">Active</label>
            <%=f.select 'active',options_for_select([['Yes','y'],['No','n']],@filter.try(:active)),{}, class: 'form-select'%>
          </div>
          <%=submit_tag "Add Spamfilter",class: 'btn btn-primary lift'%>
      
        </fieldset>
      <%end%>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modal-close-button'>Close</button>
        <button type="button" class="btn btn-primary" id='modal-save-button'>Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).on('click', '.admin_spam_black1', function(event){
      event.preventDefault();
      $('#spamBlackModal').modal('show');
    });

$(document).on('click', '.btn-close', function(event){
  $('#spamBlackModal').modal('hide');
});
</script>