<style>
.btn-size{
  padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
}
</style>
<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        DNS Domains
        </h1>
        
      </div>
      <div class="col-auto">
      <% if current_spree_user.isp_config_id.present? %>
        <%= button_link_to Spree.t(:add_domain),
        new_admin_dns_hosted_zone_url,
        class: "btn btn-primary lift",
          icon: 'add.svg',
          id: 'admin_new_order' %>
      <% end  %>
      </div>
    </div>
    </div>

<%= flash_messages %>

<% if @hosted_zones.any? %>
  <div class="card mt-4">
    <div class="table-responsive">
      <table class="table table-sm card-table" style="table-layout: fixed; width:100%">
        <thead>
          <tr>
            <th>Host Name</th>
            <!--th>Status</th-->
            <th data-hook="admin_orders_index_header_actions" style="text-align: end;">Action</th>
          </tr>
        </thead>
        <tbody class="fs-base">
        <% @hosted_zones.each do |hosted_zone| %>
          <tr data-hook="admin_orders_index_rows">
            <td><%=link_to hosted_zone.origin.chomp("."), dns_admin_dns_hosted_zone_path(hosted_zone.id, :dns_name => hosted_zone.origin.chomp(".")), class: hosted_zone %></td>
            <!--td><%#="Active"%></td-->

            <td data-hook="admin_orders_index_row_actions">
              <span class="d-flex justify-content-end">
   
                <%= link_to_delete "Delete", url: admin_dns_hosted_zone_path(hosted_zone.id), no_text: true, method: :delete%>
               
                <%= link_to 'javascript:void(0);', data: {origin: hosted_zone.origin.chomp("."), ns1: ENV['DNS_SERVER_NS1'], ns2: ENV['DNS_SERVER_NS2']}, class: 'ml-2 configure-dns-modal-link btn btn-outline-primary btn-size', title: 'Configuration Details' do  %>
                  <%= render partial: '/spree/admin/shared/icons/gear' %>
                <% end %>

              </span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="alert alert-secondary no-objects-found mt-4">
    <label class="form-label" style="margin-top: 0.5rem;"> No Dns Domain Found</label>
  </div>
<% end %>

<%= render partial: '/spree/admin/shared/modal/modal' %>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-dns-modal-link', function(){
      var serverName = $(this).data('origin');
      var ns1 = $(this).data('ns1');
      var ns2 = $(this).data('ns2');
      $('#exampleModalLabel').html("DNS Configuration Details");
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody>
            <tr>
              <td><b>Domain:</b></td>
              <td>${serverName}</td>
            </tr>
            <tr>
              <td><b>Nameserver 1:</b></td>
              <td>${ns1}</td>
            </tr>
            <tr>
              <td><b>Nameserver 2:</b></td>
              <td>${ns2}</td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
    });
  });
</script>