<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        <%= @zone_name %>
        </h1>
        
      </div>
      <div class="col-auto">
      </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <!-- Nav -->
          <ul class="nav nav-tabs nav-overflow header-tabs">
           
              <li class="nav-item">
              <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview </a>
              </li>

              <li class="nav-item">
              <a class="nav-link" id="dns-tab" data-bs-toggle="tab" href="#dns" role="tab" aria-controls="dns" aria-selected="false">DNS</a>
              </li>              

              <li class="nav-item">
              <a class="nav-link" id="mail-tab" data-bs-toggle="tab" href="#mail" role="tab" aria-controls="mail" aria-selected="false">Mail</a>
              </li>

              <li class="nav-item">
              <a class="nav-link" id="website-tab" data-bs-toggle="tab" href="#website" role="tab" aria-controls="website" aria-selected="false">Website</a>
              </li>

            
          </ul>
        </div>
    </div>
    </div>
    </div>

    <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          
    <%= render partial: 'spree/admin/dns/hosted_zones/overview_page' %>
    </div>

    <div class="tab-pane fade" id="dns" role="tabpanel" aria-labelledby="dns-tab">
   

          <%= render partial: 'spree/admin/dns/hosted_zones/dns' %>
    </div>

    <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">

    <div class="row align-items-center mb-2">
      <div class="col">
        <h1 class="header-title">
        Mail Boxes
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to "Add New",
      new_admin_mail_mail_box_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_domain' %>

    </div>
    </div>
    <%= render partial: 'spree/admin/dns/hosted_zones/mail_index' %>
    
    <div class="row align-items-center mb-2">
      <div class="col">
        <h1 class="header-title">
        Mailing Lists
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to "Add New",
      new_admin_mail_mailing_list_path,
      class: "btn btn-primary lift",
      icon: 'add.svg' %>
      </div>
    </div>
    <%= render partial: 'spree/admin/dns/hosted_zones/mailing_list_index' %>

    <div class="row align-items-center mb-2">
    <div class="col">
      <h1 class="header-title">
      Spamfilter Blacklist
      </h1>
    </div>
    <div class="col-auto">
    <%= button_link_to "Add New",
    new_admin_mail_spam_filter_blacklist_path,
    class: "btn btn-primary lift",
      icon: 'add.svg' %>
  </div>
  </div>
  <%= render partial: 'spree/admin/dns/hosted_zones/spamfilter_blacklist_index' %>

    <div class="row align-items-center mb-2">
    <div class="col">
      <h1 class="header-title">
      <%=t('isp_config.spamfilter.whitelist')%>
      </h1>
      
    </div>
    <div class="col-auto">
    <%= button_link_to "Add New",
    new_admin_mail_spam_filter_whitelist_path,
    class: "btn btn-primary lift",
      icon: 'add.svg' %>
    </div>
  </div>
  <%= render partial: 'spree/admin/dns/hosted_zones/spamfilter_whitelist_index' %>

    <div class="row align-items-center mb-2">
    <div class="col">
      <h1 class="header-title">
      Forwards
      </h1>
      
    </div>
    <div class="col-auto">
    <%= button_link_to "Add New",
    new_admin_mail_forward_path,
    class: "btn btn-primary lift",
      icon: 'add.svg',
      id: 'admin_new_forward' %>
    </div>
  </div>
  <%= render partial: 'spree/admin/dns/hosted_zones/mail_forward_index' %>

    </div>

    <div class="tab-pane fade" id="website" role="tabpanel" aria-labelledby="website-tab">

            <div class="card">
            <div class="card-body">
                <%=form_for "site_builders", url: admin_site_builder_create_path, html: {method: :post} do |f|%> 

                <div class="form-group d-none">
                    <label class="form-label"></label>
                
                    <%=select_tag 'dns_domain_name', options_for_select(get_dns_domains,params[:zone_name]), class: 'form-select js-filterable', prompt: 'Select Web Domain', html: {selected: true} %>
                </div> 
                
                <div class="input-group">
                    <div>
                        <%=submit_tag 'Start Website Builder',class: 'btn btn-primary lift', :formtarget => "_blank" %>
                    </div>
                </div>
                <div class="redirect" onmouseover = "myFunction()">
                </div>
                <% end %>
                </div>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <h1>
                Databases
                </h1>
              </div>
              <div class="col-auto">
              <%= button_link_to "Add New",
              new_admin_sites_isp_database_path,
              class: "btn btn-primary lift",
                icon: 'add.svg',
                id: 'new_admin_database' %>
              </div>
            </div>
            <%= render partial: 'spree/admin/dns/hosted_zones/database_index' %>

            <div class="row align-items-center">
            <div class="col">
              <h1>
              FTP Users
              </h1>
            </div>
            <div class="col-auto">
            <%= button_link_to "Add New",
            new_admin_sites_ftp_user_path,
            class: "btn btn-primary lift",
              icon: 'add.svg',
              id: 'admin_new_ftp_user' %>
            </div>
          </div>
            <%= render partial: 'spree/admin/dns/hosted_zones/ftp_index' %>
            
    </div>


  </div>