<div class="my_page">
   <div class="header mt-4">
      <div class="header-body">
         <div class="row align-items-center">
            <div class="col">
               <h1 class="header-title">
                  <%= @zone_name %>
               </h1>
            </div>
            <div class="col-auto">
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col">
               <!-- Nav -->
               <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                     <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="dns-tab" data-bs-toggle="tab" href="#dns" role="tab" aria-controls="dns" aria-selected="false">DNS</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="mail-tab" data-bs-toggle="tab" href="#mail" role="tab" aria-controls="mail" aria-selected="false">Mail</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="website-tab" data-bs-toggle="tab" href="#website" role="tab" aria-controls="website" aria-selected="false">Website
                     <%if @user_domain.user_website.blank?%>
                     <span class="badge bg-secondary-soft">No Website</span>
                     <%else%>
                     <span class="badge bg-success-soft"><%= @user_domain.web_hosting_type%></span>
                     <%end%>
                     </a>
                  </li>

                  <!--  <li class="nav-item">
                     <a class="nav-link" id="backup-tab" data-bs-toggle="tab" href="#backup" role="tab" aria-controls="backup" aria-selected="false">Backup</a>
                  </li> -->
               </ul>
            </div>
         </div>
      </div>
   </div>
   <%= flash_messages %>
   <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
         <%= render partial: 'spree/admin/dns/hosted_zones/overview_page' %>
      </div>
      <div class="tab-pane fade" id="dns" role="tabpanel" aria-labelledby="dns-tab">
         <%= render partial: 'spree/admin/dns/hosted_zones/dns' %>
      </div>
      <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">
         <div class="row align-items-center mb-2">
            <div class="col">
               <h2 class="header-title">
                  Mail Boxes
               </h2>
            </div>
            <div class="col-auto">
              <%= button_link_to "Add New",
                  new_admin_mail_mail_box_path(user_domain_id: params[:user_domain_id]), 
                  class: "btn btn-primary lift",
                    icon: 'add.svg',
                    id: 'new_admin_mailbox', error_id: "mail_box",
                    remote: true %>
            </div>
         </div>
         <span id="res_limit_error_message_mail_box"></span>
         <%= render partial: 'spree/admin/dns/hosted_zones/mail_index' %>
         <div class="row align-items-center mb-2">
            <div class="col">
               <h2 class="header-title">
                  Mailing Lists
               </h2>
            </div>
            <div class="col-auto">
               <%= button_link_to "Add New",
                  new_admin_mail_mailing_list_path(user_domain_id: params[:user_domain_id]),
                  class: "btn btn-primary lift",
                  icon: 'add.svg',
                  error_id: "mailing_list",
                  remote: true 
                    %>
            </div>
         </div>
         <span id="res_limit_error_message_mailing_list"></span>
         <%= render partial: 'spree/admin/dns/hosted_zones/mailing_list_index' %>


         
         <div class="row align-items-center mb-2">
            <div class="col">
               <h2 class="header-title">
                  Spamfilter Blacklist
               </h2>
            </div>
            <div class="col-auto">
               <%= button_link_to "Add New",
                  new_admin_mail_spam_filter_path(wb: 'B', user_domain_id: params[:user_domain_id]),
                  class: "btn btn-primary lift ",
                    icon: 'add.svg',
                    remote: true %>
            </div>
         </div>
         <%= render partial: 'spree/admin/mail/spam_filters/index',  locals: { spam_filters: @spam_filters.black_lists, wb: 'B' }  %>


         <div class="row align-items-center mb-2">
            <div class="col">
               <h2 class="header-title">
                  <%=t('isp_config.spamfilter.whitelist')%>
               </h2>
            </div>
            <div class="col-auto">
               <%= button_link_to "Add New",
                  new_admin_mail_spam_filter_path(wb: 'W', user_domain_id: params[:user_domain_id]),
                  class: "btn btn-primary lift ",
                    icon: 'add.svg',
                    remote: true %>
            </div>
         </div>
         <%= render partial: 'spree/admin/mail/spam_filters/index1', locals: { spam_filters: @spam_filters.white_lists, wb: 'W' } %>

         <div class="row align-items-center mb-2">
            <div class="col">
               <h2 class="header-title">
                  Forwards
               </h2>
            </div>
            <div class="col-auto">
               <%= button_link_to "Add New",
                  new_admin_mail_forward_path(user_domain_id: params[:user_domain_id]),
                  class: "btn btn-primary lift admin_mail_forward1",
                    icon: 'add.svg',
                    id: 'admin_new_forward',
                    remote: true %>
            </div>
         </div>
         <%= render partial: 'spree/admin/dns/hosted_zones/mail_forward_index' %>
      </div>
      <div class="tab-pane fade" id="website" role="tabpanel" aria-labelledby="website-tab">
        <% if @user_domain.user_website.blank?%>
          <%if current_spree_user.have_linux_access? && current_spree_user.have_windows_access?%>
            <div class="card">
                <div class="card-body">
                  <div class="mb-4">
                      <%=label_tag :select_web_service %><br />
                        <span style="margin-right: 15px;">
                          <%=radio_button_tag :server_type, "windows" , false , class: 'form-check-input list-checkbox' %>
                          <%=label_tag :server_type, "Windows", :value => "windows" %>
                        </span>
                    
                        <%=radio_button_tag :server_type, "linux", false ,  class: 'form-check-input list-checkbox' %>
                        <%=label_tag :server_type, "Linux", :value => "linux"%>
                        <span id="error_msg"></span>
                  </div>
                  <div>
                    <%=button_tag 'Enable WebService', data_web_domain_id: 0, data_web_site_id: 0, data_web_site: params[:zone_name], data_dns_id: params[:dns_id], class: 'btn btn-primary lift', id: "server_type_id", onclick: "serverTypeWebDomain(this);" %>
                  </div>
                </div>
              </div>
            <%elsif current_spree_user.have_linux_access?%>
              <div class="card">
                <div class="card-body">
                  <div>
                    <%=button_tag 'Enable WebService', data_web_domain_id: 0, data_web_site_id: 0, data_web_site: params[:zone_name], data_dns_id: params[:dns_id], class: 'btn btn-primary lift', id: "server_type_id", onclick: "updateWebDomain(this);"  %>
                  </div>
                </div>
              </div>
            <%elsif current_spree_user.have_windows_access?%>
              <div class="card">
                <div class="card-body">
                  <div>
                    <%=button_tag 'Enable WebService', data_web_domain_id: 0, data_web_site_id: 0, data_web_site: params[:zone_name], data_dns_id: params[:dns_id], class: 'btn btn-primary lift', id: "server_type_id", onclick: "updateWinWebDomain(this);"  %>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>


 
         <!-- web control -->
          <% if @user_domain.user_website.present? %>
            <div class="row align-items-center">
                <div class="col">
                  <h2>Web Controls</h2>
                </div>
              </div>
              <div class="card">
                <div class="card-body" style="margin-bottom: -15px;">
                  <div class="align-items-center mb-4">
                    <%if @user_domain.windows?%>
                    <% @web_domain_id = "0" %>
                    <% @web_site_id = "0" %>
                    <% @web_domain_name = nil %>
                      <% if @windows_websites.kind_of?(Array) && @windows_websites.any?%>
                        <%@windows_websites.reverse.each do |domain| %>
                          <% if domain[:web_site_id].to_i > 0 %>
                            <% @web_site_id = domain[:web_site_id]%>
                          <%end%>
                          <% if domain[:web_site_id].to_i == 0 %>
                            <% @web_domain_id = domain[:domain_id]%>
                            <% @web_domain_name = domain[:domain_name]%>
                          <% end %>
                        <%end%>
                      <%end%> 
                    <%end%>

                    <%if @user_domain.linux?%>
                      <% @isp_web_id = @user_remote_website.present? ? @user_remote_website.domain_id : "0" %>
                      <% @isp_ssl = @user_remote_website.present?  ? @user_remote_website[:ssl_letsencrypt] : "0"%>
                    <%end%>

                    <div class="col-3">
                      <div class="flex-container">
                        <div class="flex-child">
                          <label class="form-check-label">SSL</label>
                        </div>
                        <%if @user_domain.windows?%>
                          <div class="form-check form-switch flex-child">
                            <%= check_box_tag 'win_ssl', @website_certificate_id.nil? ? 0 : @website_certificate_id[:id], @website_certificate_id.present? ? true : false, data_web_site_id: @web_site_id, data_web_domain: @web_domain_name, data_web_domain_id: @web_domain_id, data_dns_id: params[:dns_id],  onclick: "getSSL(this);", class: "form-check-input" %>
                          </div>
                        <%end%>
                        <% if @user_domain.linux? %>
                          <div class="form-check form-switch flex-child">
                            <%= check_box_tag 'isp_ssl', @isp_ssl, (@isp_ssl == 'y') ? true : false, data_web_site_id: @isp_web_id, data_web_site: params[:zone_name], onclick: "updateIspSSL(this);", data_dns_id: params[:dns_id], class: "form-check-input" %>
                          </div>
                        <%end%>
                      </div>
                    </div>

                    <div class="col mt-4">
                      <%=form_for "site_builders", url: admin_site_builder_create_path, html: {method: :post} do |f|%> 
                        <%= hidden_field_tag "dns_domain_name", params[:zone_name] %>
                        <%= hidden_field_tag "server_type", @user_domain.web_hosting_type %>
                        <%= hidden_field_tag "user_domain_id", @user_domain.id %>
                        <div>
                          <%=submit_tag 'Start Website Builder',class: 'btn btn-primary lift', :formtarget => "_blank" %>
                        </div>
                      <% end %>
                    </div>

                  </div>
                </div>
              </div>

            <div class="row align-items-center">
                  <div class="col">
                    <h2> FTP Users </h2>
                  </div>
                  
                  <div class="col-auto">
                    <%= button_link_to "Add New",
                        new_admin_sites_ftp_user_path(user_domain_id: params[:user_domain_id]),
                        class: "btn btn-primary lift admin_new_ftp_user1",
                          icon: 'add.svg',
                          id: 'admin_new_ftp_user',
                          remote: true %>
                  </div>
              </div>
              <%= render partial: 'spree/admin/dns/hosted_zones/ftp_index' %>


          <%end%>


         <div class="row align-items-center">
            <div class="col">
               <h2> Databases </h2>
            </div>
            <div class="col-auto">
               <%= button_link_to "Add New",
                  new_admin_sites_isp_database_path(domain_name: params[:zone_name]), 
                  class: "btn btn-primary lift",
                    icon: 'add.svg',
                    id: 'new_admin_database',
                    remote: true %>
            </div>
         </div>
         <%= render partial: 'spree/admin/dns/hosted_zones/database_index' %>
      </div>
     <!--  <div class="tab-pane fade" id="backup" role="tabpanel" aria-labelledby="backup-tab">
       <div class="card mb-5">
        <div class="card-body">
          <%#if @user_domain.user_website.present?%>
            <%#=form_for(@user_domain.user_website, url: admin_sites_backup_path(@user_domain.user_website), remote: true) do |form|%>
              <%#= hidden_field_tag :user_domain_id, @user_domain.id%>

              <div class="flex-container mb-2">
                 <div class="flex-child">
                  <label class="mr-3">Enable Backup</label> 
                 </div>
                  <div class="form-check form-switch flex-child">
                    <%#= form.check_box :enable_backup, class: "form-check-input" %> <br/>
                  </div>       
                  <br/> 
              </div>
              <p class="text-muted"><%#=t('backup.enable_site_backup')%></p> 
             
              <div class="row">
                <div class="col-md-12">
                    <%#=form.submit "Start Backup", class: 'btn btn-primary'%>
                </div>
              </div>
            <%#end%>
          <%#end%>
        </div>
       </div>

        <div class="row align-items-center mb-2">
            <div class="col">
               <h2 class="header-title">
                 Existing Backup
               </h2>
            </div>
            <div class="col-auto">
            
            </div>
         </div>
         <div class="card mt-4">
            <div class="table-responsive" id="site_backup_list">
              
            </div>
          </div>
      </div> -->
   </div>
</div>

<%= render partial: '/spree/admin/shared/spinner/spinner' %>
<script type="text/javascript">

$(document).ready(function(){

  $('#backup-tab').on('click', function(){
    $.get("<%=admin_sites_backup_index_path(user_domain_id: @user_domain.id)%>", function(data){
      $('#site_backup_list').html(data)
    })
  });
});

var body = document.body;

function spinner(){
  $('.spinner').css('display','block');
  body.style.opacity = "0.4";
  body.style.pointerEvents = "none";
}

$("input[name='server_type']").change(function(){
    var serverType = $(this).val();
    document.getElementById("server_type_id").value = serverType;
});

var serverTypeWebDomain = function(element){
  var error = document.getElementById("error_msg")
  var option=document.getElementsByName('server_type');
     
  if (!(option[0].checked || option[1].checked)) {
      error.textContent = "Please Select Server Type"
      error.style.color = "red"
      error.style.fontSize= "small"   
      return false;
  }
  var serverType = element.value; 
  if (serverType == "windows"){
    updateWinWebDomain(element);
  }
  else{
    updateWebDomain(element);
  }
}

var updateWebDomain = function(element){
    var webDomainId = element.attributes.data_web_domain_id.value;
    var website = element.attributes.data_web_site.value;

    if (parseInt(webDomainId) > 0) {
      var dataConfirm = '<%= I18n.t('windows.deactivate_domain') %>';
    }
    else {
      var dataConfirm = '<%= I18n.t('windows.activate_domain') %>';
    }

    result = confirm(dataConfirm);
    if (result) {
      spinner();
      setTimeout(function(){
        $.ajax({
          type: "POST",
          url: "/admin/sites/websites/enable_disable_web_domain?web_site_id="+webDomainId,
          data: { 
            website: {
              domain: website
            }
          }
        });
      } ,5);
    }
  }

  var updateWinWebDomain = function(element){
    var webDomainId = element.attributes.data_web_domain_id.value;
    var webSiteId = element.attributes.data_web_site_id.value;
    var website = element.attributes.data_web_site.value;
    var dnsId = element.attributes.data_dns_id.value;

    if (parseInt(webSiteId) > 0) {
      var dataConfirm = '<%= I18n.t('windows.deactivate_domain') %>';
      var web_site_id = parseInt(webSiteId);
      var web_domain_id = parseInt(webDomainId);

      result = confirm(dataConfirm);
      if (result) {
         spinner();
      setTimeout(function(){
        $.ajax({
          type: "POST",
          url: "/admin/windows/domains/disable_webservice",
          data: { 
              web_site_id: web_site_id,
              web_domain_id: web_domain_id,
              domain: website,
              dns_id: dnsId
          }
        });
      } ,5);
      }
    }
    else {
      var dataConfirm = '<%= I18n.t('windows.activate_domain') %>';
      var web_site_name = website;
      var server_type  = "windows";

      result = confirm(dataConfirm);
      if (result) {
         spinner();
      setTimeout(function(){
        $.ajax({
          type: "POST",
          url: "/admin/sites/websites/enable_webservice?server_type="+server_type,
          data: { 
            website: {
              domain: web_site_name,
              dns_id: dnsId
            }
          }
        });
      } ,5);
      }
    }
  }

 var getSSL = function(element){
    var websiteId = element.attributes.data_web_site_id.value;
    var web_domain = element.attributes.data_web_domain.value;
    var web_domain_id = element.attributes.data_web_domain_id.value;
    var dnsId = element.attributes.data_dns_id.value;
    var sslId = element.value; 

    if (parseInt(sslId) == 0){
      var dataConfirm = '<%= I18n.t('windows.install_ssl') %>';
    }else{
      var dataConfirm = '<%= I18n.t('windows.delete_ssl') %>';
    }
    
  
    result = confirm(dataConfirm);
    if (result) {
      spinner();
      setTimeout(function(){
        $.ajax({
          type: "POST",
          url: "/admin/windows/domains/get_ssl?web_site_id="+websiteId,
          data: { 
            website: {
              domain: web_domain,
              web_domain_id: web_domain_id,
              dns_id: dnsId,
              id: sslId
            }
          }
        });
      } ,5);
    }
  } 

  var updateIspSSL = function(element){
    var websiteId = element.attributes.data_web_site_id.value;
    var website = element.attributes.data_web_site.value;
    var dnsId = element.attributes.data_dns_id.value;
    var sslStatus = element.value; 
    if (sslStatus == 'n'){
      var dataConfirm = '<%= I18n.t('windows.install_ssl') %>';
      var ssl_status = 'y';
    }else{
      var dataConfirm = '<%= I18n.t('windows.delete_ssl') %>';
      var ssl_status = 'n';
    }

    result = confirm(dataConfirm);
      if (result) {
        spinner();
        setTimeout(function(){
          $.ajax({
            type: "POST",
            url: "/admin/sites/websites/update_isp_ssl?web_site_id="+websiteId,
            data: { 
              website: {
                ssl: ssl_status,
                domain: website,
                dns_id: dnsId
              }
            }
          });
        } ,5);
      }

  }
</script>
