Hello <%=@user.full_name%> 

<br/>
<br/>


Your <%=@panel.humanize%> account is suspended due to non payment of invoices. This means you will no longer be able to access to your Hosting Panel, manage existing resources or buy any new resources. You will still be able to log-in to the Billing and Cost Management page to pay your bill. <br/><br/>

Please login to your account and pay the invoices to reactivate your <%=@panel%> access.

<br/>
<br/>


We appreciate your help resolving this issue. <br/><br/>

<a href="<%= @current_store.url%>"><%= @current_store.url%></a> <br/>

Sincerely, <%=@user.account.orgainization_name%><br/>

<br/>


