Hello <%=@user.full_name%> 

<br/>
<br/>

Your <%=@panel.humanize%> account is reactivated and you can now start accessing the same. <br/><br/>

<br/>


<a href="<%= @current_store.url%>"><%= @current_store.url%></a> <br/>

Sincerely, <%=@user.account.orgainization_name%><br/>

<br/>


