Hello <%=@user.full_name%>  <br/><br/>

<%if @invoice.last_reminder_sent_at.present? && @invoice.last_reminder_sent_at.to_date == @invoice.due_date.to_date%>
  This is the final notice regarding the overdue payment of the following invoice- <br/><br/>
<%else%>
  There is a billing problem with your account that requires your attention. The invoice is overdue against-<br/><br/>
<%end%>


Account ending in ****<%=@payment_source.try(:last_digits)%> <br/>
Statement Period: <%=@invoice.name%><br/>
Invoice Number: <%=@invoice.invoice_number%><br/>
Amount: <%=number_to_currency(@invoice.balance)%><br/>
<br/>
<% if @pending_invoices.present? %>
Pending invoices that need to be paid <% @pending_invoices.drop(1).each do |invoices| %>
<%= invoices %>
<% end %>
Kindly pay for all the invoices.
<%end%>
<br/>
We hate to do this but if we do not hear from you this account may be suspended. This means you will no longer be able to access to your Hosting Panel, manage existing resources or buy any new resources. You will still be able to log-in to the Billing and Cost Management page to pay your bill.
<br/><br/>


We appreciate your help resolving this issue. <br/>
If you have any queries, please feel free to contact-<br/><br/>

<a href="<%= @current_store.url%>"><%= @current_store.url%></a> <br/>

thanks,<br/>
<%=@user.account.orgainization_name%><br/>
<br/>



