<style>
.btn-size{
  padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
}
</style>

<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Mail Boxes
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_mail_box),
      new_admin_mail_mail_box_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_domain' %>

      </div>
    </div>
    </div>

<%= flash_messages %>

<% if @mailboxes.any? %>
  <div class="card mt-4">
    <div class="table-responsive">
      <table class="table table-sm card-table" style="width:100%">
        <thead>
          <tr>
          <th>Email</th>
          <!--<th>Realname</th>-->
          <th>AutoRespond</th>
          <th>Receiving</th>
          <th>SMTP</th>
          <th>Inbox</th>
          <th>IMAP</th>
          <th>POP3</th>
          <th>Actions</th>
          </tr>
        </thead>
        <tbody class="fs-base">
        <%@mailboxes.each do |mailbox| %>
          <tr data-hook="admin_orders_index_rows">
            <td><%= mailbox.email%></td>
            <!--<td><%= mailbox.name%></td>-->
            <td style="text-align: center;"><% if mailbox.autoresponder == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if mailbox.postfix == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if mailbox.disablesmtp == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"> <% if ['y','n'].reject{|x| x == mailbox.disablesmtp}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if ['y','n'].reject{|x| x == mailbox.disableimap}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if ['y','n'].reject{|x| x == mailbox.disablepop3}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td>
            <span class="d-flex">
              <%=link_to '<i class="fe fe-mail"></i>'.html_safe, get_web_mail_client_url, target: '_blank' , class:"btn btn-primary btn-size", style:"margin-right:2%"%>  
              <%=link_to '<i class="fe fe-edit"></i>'.html_safe,edit_admin_mail_mail_box_path(id: mailbox.mailuser_id),class:"btn btn-success btn-size", style:"margin-right:2%"%> 
              <%=link_to '<i class="fe fe-trash"></i>'.html_safe,admin_mail_mail_box_path(id: mailbox.mailuser_id), method: :delete, data: {confirm: t('general.delete')},class:"btn btn-danger btn-size"%>
              <%= link_to 'Configure', 'javascript:void(0);', class: 'configure-mailbox-modal-link', data: {email: mailbox.email, name: mailbox.name, smtp: ENV['OPSPI_SMTP_SERVER'], imap: ENV['MAIL_SERVER_IMAP_URL'], pop: ENV['MAIL_SERVER_POP_URL'], webmail_url: ENV['WEBMAIL_URL']} %>
            </span>
            </td>  
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
    <label class="form-label" style="margin-top: 0.5rem;"> No Mail Boxes Found </label>
  </div>
<% end %>

<%= render partial: '/spree/admin/shared/modal/modal' %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-mailbox-modal-link', function(){
      var email = $(this).data('email');
      var name = $(this).data('name');
      var smtp = $(this).data('smtp');
      var imap = $(this).data('imap');
      var pop = $(this).data('pop');
      var webmailUrl = $(this).data('webmail-url');
      $('#exampleModalLabel').html("MailBox Configuration Details");
      // <tr>
      //         <td><b>SMTP:</b></td>
      //         <td>${smtp}</td>
      //       </tr>
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody>
            <tr>
              <td><b>Email:</b></td>
              <td>${email}</td>
            </tr>
            <tr>
              <td><b>Name:</b></td>
              <td>${name}</td>
            </tr>
            
            <tr>
              <td><b>IMAP:</b></td>
              <td>${imap}</td>
            </tr>
            <tr>
              <td><b>POP:</b></td>
              <td>${pop}</td>
            </tr>
            <tr>
              <td><b>WEBMAIL&nbsp;URL:</b></td>
              <td>${webmailUrl}</td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
    });
  });
</script>
