<% content_for :page_title do %>
 MailBoxes
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_mail_box),
    new_admin_mail_mail_box_path,
    class: "btn-success",
      icon: 'add.svg',
      id: 'admin_new_domain' %>
<% end %>

<% if @mailboxes.any? %>
<div data-nav-x-wrapper>
  <div data-nav-x-container>
    <table class="table" id="listing_orders" data-hook data-nav-x-content>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th>Email</th>
          <th>Realname</th>
          <th>AutoRespond</th>
          <th>Receiving</th>
          <th>SMTP</th>
          <th>Inbox</th>
          <th>IMAP</th>
          <th>POP3</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <%@mailboxes.each do |mailbox| %>
        <tr data-hook="admin_orders_index_rows" class="<%= cycle('odd', 'even') %>">
          <td><%= mailbox.email%></td>
          <td><%= mailbox.name%></td>
          <td><%= mailbox.autoresponder %></td>
          <td><%= mailbox.postfix %></td>
          <td><%= mailbox.postfix %></td>
          <td><%= ['y','n'].reject{|x| x == mailbox.disablesmtp}[0]%></td>
          <td><%= ['y','n'].reject{|x| x == mailbox.disableimap}[0]%></td>
          <td><%= ['y','n'].reject{|x| x == mailbox.disablepop3}[0]%></td>
          <td><%=link_to 'Edit',edit_admin_mail_mail_box_path(id: mailbox.mailuser_id)%> |
            <%=link_to 'Delete',admin_mail_mail_box_path(id: mailbox.mailuser_id), method: :delete%>
          </td>  
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
  
  </div>
<% end %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
