<style>
.btn-size{
  padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
}
</style>

<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Mail Boxes
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_mail_box),
      new_admin_mail_mail_box_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_domain' %>

      </div>
    </div>
    </div>

<%= flash_messages %>

<% if @mailboxes.any? %>
  <div class="card mt-4">
    <div class="table-responsive">
      <table class="table table-sm card-table" style="width:100%">
        <thead>
          <tr>
          <th>Email</th>
          <!--<th>Realname</th>-->
          <th>AutoRespond</th>
          <th>Receiving</th>
          <th>SMTP</th>
          <th>Inbox</th>
          <th>IMAP</th>
          <th>POP3</th>
          <th>Actions</th>
          </tr>
        </thead>
        <tbody class="fsbase">
        <%@mailboxes.each do |mailbox| %>
          <tr data-hook="admin_orders_index_rows">
            <td><%= mailbox.email%></td>
            <!--<td><%= mailbox.name%></td>-->
            <td style="text-align: center;"><% if mailbox.autoresponder == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if mailbox.postfix == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if mailbox.disablesmtp == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"> <% if ['y','n'].reject{|x| x == mailbox.disablesmtp}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if ['y','n'].reject{|x| x == mailbox.disableimap}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td style="text-align: center;"><% if ['y','n'].reject{|x| x == mailbox.disablepop3}[0] == 'y' %>
            <i class="fe fe-check-circle" style="color: green;"></i>
            <% else %>
            <i class="fe fe-x-circle" style="color: red;"></i>
            <% end %>
            </td>
            <td>

            <span class="d-flex">

                <%= link_to  admin_mail_mail_box_path(id: mailbox.mailuser_id),type: 'button', class: 'btn btn-outline-danger btn-size',style:"margin-right:5px", method: :delete do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                  <%end%>
                  <%= link_to  edit_admin_mail_mail_box_path(id: mailbox.mailuser_id),type: 'button', class: 'btn btn-outline-success btn-size',style:"margin-right:5px" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg> 
                  <% end %>
                  <%= link_to  get_web_mail_client_url, target: '_blank',type: 'button', class: 'btn btn-outline-primary btn-size',style:"margin-right:5px" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                  <% end %> 
                     <%= link_to 'javascript:void(0);', data: {email: mailbox.email, name: mailbox.name, smtp: ENV['OPSPI_SMTP_SERVER'], imap: ENV['MAIL_SERVER_IMAP_URL'], pop: ENV['MAIL_SERVER_POP_URL'], webmail_url: ENV['WEBMAIL_URL'],smtp: ENV['MAIL_SERVER_SMTP_URL']}, class: 'configure-mailbox-modal-link btn btn-outline-primary btn-size', title: 'Configuration Details' do  %>
                        <%= render partial: '/spree/admin/shared/icons/gear' %>
                      <% end %>
            </span>
            
            </td>  
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
    <label class="form-label" style="margin-top: 0.5rem;"> No Mail Boxes Found </label>
  </div>
<% end %>

<%= render partial: '/spree/admin/shared/modal/modal' %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-mailbox-modal-link', function(){
      var email = $(this).data('email');
      var name = $(this).data('name');
      var smtp = $(this).data('smtp');
      var imap = $(this).data('imap');
      var pop = $(this).data('pop');
      var smtp = $(this).data('smtp');
      var webmailUrl = $(this).data('webmail-url');
      $('#exampleModalLabel').html("MailBox Configuration Details");
      // <tr>
      //         <td><b>SMTP:</b></td>
      //         <td>${smtp}</td>
      //       </tr>
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody>
            <tr>
              <td><b>Email:</b></td>
              <td>${email}</td>
            </tr>
            <tr>
              <td><b>Name:</b></td>
              <td>${name}</td>
            </tr>
            
            <tr>
              <td><b>POP:</b></td>
              <td>${pop}</td>
            </tr>
            <tr>
              <td><b>SMTP:</b></td>
              <td>${smtp}</td>
            </tr>
            <tr>
              <td><b>WEBMAIL&nbsp;URL:</b></td>
              <td>${webmailUrl}</td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
    });
  });
</script>
