
<style>
.btn-size{
  padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
}

.container {
  display: block;
  width: 100%;
}

.card {
  float: left;
  margin: 3px;
  width: 49%;
}
.card-body{
  flex: 1 1 auto;
  padding: 0.8rem 0.8rem;
}

.container .card:first-child {
  margin-left: 0;
}


.container .card:last-child {
  margin-right: 0;
}

@media(max-width: 1000px) {
  .card {
    float: left;
    margin: 1px;
    width: 100%;
  }
}
@media(max-width: 750px) {
  .card {
    float: left;
    margin: 1px;
    width: 70%;
  }
}
@media(max-width: 720px) {
  .card {
    float: left;
    margin: 1px;
    width: 70%;
  }

}
</style>
<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
         Domains
        </h1>
        
      </div>
      <div class="col-auto">
      <% if current_spree_user.isp_config_id.present? %>
        <%= button_link_to Spree.t(:add_domain),
        new_admin_user_domain_path,
        class: "btn btn-primary lift",
          icon: 'add.svg',
          id: 'admin_new_dns_zone', data: resource_limit_exceeded("domain"), onclick: "checkResourceLimit(this);" %>
      <% end  %>
      </div>
    </div>
    </div>
<%= alert(resource_alert("domain"),"info")%>
<span id="error_msg"></span>

<%= flash_messages %>
<% if @user_domains.any? %>
<div class="container mt-4 mb-4">
<%= render partial: '/spree/admin/dns/hosted_zones/rows', locals: {user_domains: @user_domains} %>
</div>
<% else %>
  <div class="alert alert-light no-objects-found mt-4">
    <label class="form-label" style="margin-top: 0.5rem;"> No Dns Domain Found</label>
  </div>
<% end %>

<%= render partial: '/spree/admin/shared/modal/modal' %>
<%= render partial: '/spree/admin/shared/spinner/spinner' %>


<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-dns-modal-link', function(){
      var serverName = $(this).data('origin');
      var ns1 = $(this).data('ns1');
      var ns2 = $(this).data('ns2');


      $('#exampleModalLabel').html("DNS Configuration Details");
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody>
            <tr>
              <td><b>Domain:</b></td>
              <td>${serverName}</td>
            </tr>
            <tr>
              <td><b>Nameserver 1:</b></td>
              <td>${ns1}</td>
            </tr>
            <tr>
              <td><b>Nameserver 2:</b></td>
              <td>${ns2}</td>
            </tr>

          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
      // $('.spinner').css('display','none');
    });
  });

  function getData(serverName){
    var tmp = [];
        $.ajax({
          type: "POST",
          async: false,
          url: "/admin/dns/hosted_zones/get_config_details",
          data: { 
            website: {
              origin: serverName
            }
          },
          dataType: "json",
          success: function (result) {
            tmp.push(result.web,result.mail)
          }
        });
        return tmp;
  }

  var webService = function(element){
    var webDomainId = element.value;
    var webDomainName = element.attributes.data_web_domain_name.value;
    var origin_type = "web"

    if (webDomainId == 'null') {
      var dataConfirm = '<%= I18n.t('wizards.enable_web_service_alert') %>';

      result = confirm(dataConfirm);
      if (result) {
        setTimeout(function(){
          $.ajax({
            type: "POST",
            url: "/admin/dns/hosted_zones/enable_dns_services",
            data: { 
              website: {
                origin: webDomainName,
                type: origin_type
              }
            }
          });
        } ,5);
      }
    }
    else {
      var dataConfirm = '<%= I18n.t('wizards.disable_web_service_alert') %>';
      result = confirm(dataConfirm);
      if (result) {
        setTimeout(function(){
          $.ajax({
            type: "POST",
            url: "/admin/dns/hosted_zones/disable_dns_services",
            data: { 
              website: {
                origin: webDomainId,
                type: origin_type
              }
            }
          });
        } ,5);
      }
    }

  } 

  var mailService = function(element){
    var mailDomainId = element.value;
    var mailDomainName = element.attributes.data_mail_domain_name.value;
    var origin_type = "mail"

    if (mailDomainId == 'null') {
      var dataConfirm = '<%= I18n.t('wizards.enable_mail_service_alert') %>';

      result = confirm(dataConfirm);
      if (result) {
        setTimeout(function(){
          $.ajax({
            type: "POST",
            url: "/admin/dns/hosted_zones/enable_dns_services",
            data: { 
              website: {
                origin: mailDomainName,
                type: origin_type
              }
            }
          });
        } ,5);
      }
    }
    else {
      var dataConfirm = '<%= I18n.t('wizards.disable_mail_service_alert') %>';
      result = confirm(dataConfirm);
      if (result) {
        setTimeout(function(){
          $.ajax({
            type: "POST",
            url: "/admin/dns/hosted_zones/disable_dns_services",
            data: { 
              website: {
                origin: mailDomainId,
                type: origin_type
              }
            }
          });
        } ,5);
      }
    }

  } 
</script>
<script type="text/javascript">
var checkResourceLimit = function(element){
  var error = document.getElementById("error_msg")
  var val = element.attributes.data.value
  if (val == 'true') {
    //  error.innerHTML = "<div class='alert alert-warning' role='alert'>Your limit reached.please update plan to create new resources</div>";
      event.preventDefault();
  }
}
</script>