<%if current_spree_user.store_admin? || current_spree_user&.superadmin? %>
<h1 class="contextual-title px-0 mb-0 col" style="margin-top: -2rem;">Dashboard</h1>
<hr>

<%else%>
<div class="header mt-2">
  <div class="header-body">
    <div class = "mt-2">
      <%= flash_messages %>
    </div>
    <div class="row align-items-center mt-3">
      <div class="col">
        <h1 class="header-title">
          Dashboard
        </h1>
      </div>
      <div class="col-auto">
      
      </div>
    </div>
  </div>
</div>


<% spree_current_user.subscriptions.order('created_at desc').each do |subscription| %>
  <!-- Card -->
  <div class="card">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-auto">

          <!-- Avatar -->

          <%=image_tag "/assets/noimage/plp1.png", :alt => "rss feed" , class: "pos"%>

        </div>
        <div class="col ms-n2">

          <h4 class="mb-1">
          <%=subscription.plan.name%>
          </h4>

          <p class="small text-muted mb-1">
          <span data-ransack-field="q_store_id_in">
          <%= current_store.name %>
          </span>
          </p>

          <p class="small mb-0">
          <%= subscription.plan.server_type.titleize%>
          <br/>
          <%if subscription.status? %>
          <span class="badge bg-success-soft">Active</span>
          <% else %>
          <span class="badge bg-danger-soft">Inactive</span>
          <% end %>
          </p>

        </div>
        

        
        
      </div> <!-- / .row -->
    </div> <!-- / .card-body -->
    
    </div>

<% end %>

<%end%> 