<% content_for :modal_header do %>
  <h3><%= header%></h3>
<% end %>

<% content_for :modal_body_and_footer do %>

<div class="modal-body">   

  <%=form_for "database", url: admin_sites_isp_databases_path, remote:true, html: { method: :post } do |f|%> 
    <fieldset>
      <div id="error_div" style="color: red;">
        
      </div>
      <div class="form-group">
          <label class="form-label">Database Type</label>
          <%=f.select :database_type, options_for_select(get_database_types(current_spree_user)), {prompt: '--select--'}, class: 'form-select' %>
          <%=f.hidden_field :domain_name,value: params[:domain_name]%>
          <%=f.hidden_field :dns_id, value: params[:dns_id]%>
          <%=hidden_field_tag :server_type,"", id: 'create_database_server_type_id'%>
          <%#=f.select 'web_domain_id', options_for_select(@websites,@web_id), {}, class: 'form-select', html: {selected: true} %>
      </div>

      <div class="form-group">
          <label class="form-label">Database Name:</label>
          <%=f.text_field :database_name, class: 'form-control', required: true %>
      </div>
      
      <div class="form-group">
        <label class="form-label">Database Password:</label>
        <%=f.text_field :database_password, type: "password", class: 'form-control', required: true %>
      </div>
      <%=submit_tag "Add Database",class: 'btn btn-primary lift'%>
    </fieldset>
    <% end %>

  </div>
<% end %>

<%= render :partial=>'spree/admin/shared/modal', locals: {modal_width: '40%'} %>
