<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        <%= link_to Spree.t(:database), admin_sites_isp_databases_path %> /
        <%= @database.database_name %>
        </h1>
      </div>
      <div class="col-auto">
      </div>
    </div>

  </div>
</div>


  <fieldset>
    <div class="form-group field">
      <label class="form-label">Select Website:</label>
      <%=select_tag 'web_domain_id', options_for_select(get_web_domians,@database.parent_domain_id), class: 'form-select', disabled: true%>
    </div>

    <div class="form-group field">
      <label class="form-label">Database Name:</label>
      <%=text_field_tag 'database_name', @database.database_name, class: 'form-control', disabled: true %>
    </div>

     <div class="form-group field">
      <label class="form-label">Database User:</label>
      <%=text_field_tag 'database_username', params[:db_user_name], class: 'form-control', disabled: true %>
    </div>

    <div class="form-check">
      <label class="form-check-label">Active</label>
      <%=check_box_tag 'active', @database.active.eql?("y") ? "true" : "false", @database.active.eql?("y") ? true : false, disabled: "disabled" ,class:"form-check-input list-checkbox"%>
    </div>

  </fieldset>

