<% content_for :modal_header do %>
  <h3><%= header%></h3>
<% end %>

<% content_for :modal_body_and_footer do %>

<div class="modal-body">
 <% url =  @mail_forward.persisted? ?   admin_mail_forward_path(@mail_forward.id) : admin_mail_forwards_path%>
 <%=form_for "mail_forward", url: url, html: { method: @mail_forward.persisted? ? :put : :post, remote: true } do |f|%> 
 <%=f.hidden_field :type, value: 'forward'%>
 <%=f.hidden_field :source_domain, value: @user_domain.domain%>
 <%=hidden_field_tag :user_domain_id, @user_domain.id%>

 <div id="error_div" style="color: red;"></div>

  <fieldset>
    <div class="form-group">
      <label class="form-label">Source Email</label>
      <div class="input-group mb-3">
        <%=f.text_field 'source', value: @mail_forward.try(:source).try(:split, '@').try(:first), class: 'form-control',style:"width: 45%;"%>
        <span class="input-group-text" id='at-sign'>@ <%=@user_domain.domain%></span>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Destination Email</label>
      <%=f.text_area 'destination', value: @mail_forward.try(:destination), class: 'form-control', rows: 10, cols: 40%>
    </div>
  
          
    <div class="form-check mb-3">
      <div class="row">
        <div class="col-12">
           <%= f.check_box :allow_send_as, {checked: @mail_forward.try(:allow_send_as), class:"form-check-input list-checkbox"}, 'y', 'n' %>
          <label class="form-check-label mr-3">Send as</label>
          <small style="color: grey"><br/>Allow target to send mail using this address as origin (if target is internal)</small>
        </div>
       
      </div>
    </div>

    <div class="form-check mb-4">
      <div class="row">
        <div class="col-4">
          <%= f.check_box :greylisting, {checked: @mail_forward.try(:greylisting)  , class:"form-check-input list-checkbox"}, 'y', 'n' %>
          <label class="form-check-label">Enable greylisting</label>
        </div>
        
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Active</label>
      <%=f.select 'active',options_for_select([['Yes','y'], ['No','n']], @mail_forward.try(:active)),{}, class: 'form-select'%>
    </div>



    <%=submit_tag "#{@mail_forward.persisted? ? 'Update' : 'Add'} Mail Forward", class: 'btn btn-primary lift mb-4'%>

  </fieldset>
<%end%>

  </div>
<% end %>

<%= render :partial=>'spree/admin/shared/modal', locals: {modal_width: '40%'} %>


