<% content_for :page_title do %>
 Forwards
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_forward),
    new_admin_mail_forward_path,
    class: "btn-success",
      icon: 'add.svg',
      id: 'admin_new_forward' %>
<% end %>

<% if @resources.any? %>
<div data-nav-x-wrapper>
  <div data-nav-x-container>
    <table class="table" id="listing_orders" data-hook data-nav-x-content>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th>Source</th>
          <th>Destination</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <%@resources.each do |forward| %>
        <tr data-hook="admin_orders_index_rows" class="<%= cycle('odd', 'even') %>">
          <td><%=forward.source%></td>
          <td><%=forward.destination%></td>
          <td><%=forward.active%></td>
          <td><%=link_to 'Edit',edit_admin_mail_forward_path(id: forward.forwarding_id)%> |
            <%=link_to 'Delete',admin_mail_forward_path(id: forward.forwarding_id), method: :delete, data: {confirm: t('general.delete')}%>
          </td>  
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
  
  </div>
<% end %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
