<style>
.btn-size{
  padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
}
</style>

<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Forwards
        </h1>
        
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_forward),
      new_admin_mail_forward_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_forward' %>
      </div>
    </div>

  </div>
</div>

<%= flash_messages %>

<% if @resources.any? %>
<div class="card">
<div class="table-responsive">
<table class="table table-sm card-table" style="width:100%">
  <thead>
    <tr>
    <th>Source</th>
    <th>Destination</th>
    <th>Active</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody class="fsbase">
  <%@resources.each do |forward| %>
    <tr data-hook="admin_orders_index_rows" >
      <td><%=forward.source%></td>
      <td><%=forward.destination%></td>
      <td><%=forward.active%></td>
      <td><%= link_to  admin_mail_forward_path(id: forward.forwarding_id),type: 'button',data: {confirm: t('general.delete')}, class: 'btn btn-outline-danger btn-size',style:"margin-right:5px", method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
        <%end%>

        <%= link_to  edit_admin_mail_forward_path(id: forward.forwarding_id),type: 'button', class: 'btn btn-outline-success btn-size',style:"margin-right:5px" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg> 
          <% end %>
      </td>  
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
  <label class="form-label" style="margin-top: 0.5rem;"> No Forwards found.</label>
  </div>
<% end %>

<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });

</script>
