<% content_for :page_title do %>
 <div class="mt-2"></div>
  <%= link_to Spree.t(:protected_folders), admin_sites_protected_folders_path %> /
  <%= Spree.t(:web_folder) %>
<% end %>

 <%=form_for "protected_folder_user", url: admin_sites_protected_folder_users_path, html: {method: :post, id: 'protected_folder_user_form'} do |f|%> 

  <fieldset>
    <div class="form-group field">
      <label>Select Domain:</label>
      <%= collection_select(:protected_folder_user, :web_folder_id, @folders, :web_folder_id, :path, {:prompt => 'Select Web Domain'}, {class: 'select2-clear js-filterable'}) %>
    </div>

    <div class="form-group field">
      <label>UserName:</label>
      <%=f.text_field 'username', class: 'form-control', placeholder: "Please enter username" %>
    </div>

    <div class="form-group field">
      <label>Password:</label>
      <%=f.password_field 'password', class: 'form-control', placeholder: "Please enter password" %>
    </div>

    <div class="form-group field">
      <label>Repeat Password:</label>
      <%=f.password_field 'repeat_password', class: 'form-control', placeholder: "Please enter password" %>
    </div>

    <div class="form-group field">
      <label>Active</label>
      <%=f.select 'active',options_for_select(ProtectedFolder.actives.collect{ |k, v| [v, k]}, @protected_folder.try(:active)),{}, class: 'form-control'%>
    </div>

    <%=submit_tag "Add Folder User",class: 'btn btn-primary'%>

  </fieldset>
<% end %>

<div style="color: red;" class="mt-3">
  <%=@response[:message].html_safe if @response %>
</</div> 

<script type="text/javascript">
  $( "#protected_folder_user_form" ).submit(function( event ) {
    var password = $('#protected_folder_user_password').val();
    var repeatPassword = $('#protected_folder_user_repeat_password').val();
    debugger;
    if(password == ''){
      alert("Password can't be blank");
      return false;
    } else if (password.length < 8){
      alert("Password has to be at least 8 chars in length");
      return false;
    } else if (password != repeatPassword){
      alert("Repeat Password does not match");
      return false;
    }
  });
</script>
