<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Mail Quota
        </h1>
        
      </div>
      <div class="col-auto">
      </div>
    </div>

  </div>
</div>

<% if @mailbox_quotas.any? %>
<div class="card">
<div class="table-responsive">
<table class="table table-sm card-table" style="table-layout: fixed; width:100%">
  <thead>
    <tr>
    <th>Email Address</th>
    <th>Name</th>
    <th>Used Space</th>
    <th>Quota</th>
    <th>Used %</th>
    </tr>
  </thead>
  <tbody class="fs-base">
  <%@mailbox_quotas.each do |mailbox_quota| %>
    <tr data-hook="admin_orders_index_rows">
      <td><%=mailbox_quota.email%></td>
      <td><%=mailbox_quota.name%></td>
      <td><%=mailbox_quota.used%></td>
      <td><%=mailbox_quota.quota%></td>
      <td><%=mailbox_quota.used_percentage%></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>

<% else %>
  <div class="alert alert-secondary no-objects-found">
  
  </div>
<% end %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
