<% if @resources.present? %>
<div data-nav-x-wrapper>
  <div data-nav-x-container>

    <% if @resources[:web_response].present? && @resources[:web_response][:success] %>

      <table class="table" id="listing_orders" data-hook data-nav-x-content>
        <thead>
          <tr data-hook="admin_orders_index_headers">
            <th colspan="3">Website</th>
            <th colspan="2">FTP-User</th>
          </tr>
          <tr data-hook="admin_orders_index_headers">
            <th>ID</th>
            <th>Active</th>
            <th>Domain</th>
            <th>Username</th>
            <th>password</th>
          </tr>
        </thead>
        <tbody>
          <tr data-hook="admin_orders_index_rows" class="<%= cycle('odd', 'even') %>">
            <td><%= @resources[:web_response][:response]["response"] if @resources[:web_response] && @resources[:web_response][:success]%></td>
            <td><%= @resources[:web_params][:active] if @resources[:web_params]%></td>
            <td><%= @resources[:web_params][:domain] if @resources[:web_params]%></td>
            <td><%= @resources[:ftp_user_params][:username] if @resources[:ftp_user_response][:success]%></td>
            <td><%= @resources[:ftp_user_params][:password] if @resources[:ftp_user_response][:success]%></td>
          </tr>
        </tbody>
      </table>
    <% else %>
      Disabled
    <% end %>

    </p>
  </div>
</div>
<% end %>
