
 <%=form_for 'wizard', url: admin_wizards_path, html: {method: :post} do |f|%> 

  <fieldset>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <label class="form-label">Enter Domain Name</label>
          <%#= collection_select(:wizard, :domain, @hosted_zones, :origin, :origin, {prompt: 'Select Web Domain'}, {class: 'select2-clear js-filterable'}) %>
          <%= f.text_field :domain, value: @domain, class: 'form-control',placeholder: 'example.com', required: true%>
          <%if @error.present?%>
            <span style="color: red"> <%=@error%></span>
          <%end%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <%= f.label :select_hosting_type %><br />
          <%  linux_checked =  current_spree_user.have_linux_access?%>

          <%if current_spree_user.have_windows_access? && current_spree_user.solid_cp_id.present?%>
            <span style="margin-right: 15px;">
              <%= f.radio_button :server_type, "windows" ,  class: 'form-check-input list-checkbox', required: true, checked: linux_checked ? false : true  %>
               <%linux_checked = false%>
              <%= f.label :server_type, "Windows", :value => "windows" %>
            </span>
          <%end%>
         
          <%if current_spree_user.have_linux_access? && current_spree_user.isp_config_id.present?%>
            <%= f.radio_button :server_type, "linux", :checked => true ,  class: 'form-check-input list-checkbox', required: true, checked: linux_checked %>
            <%= f.label :server_type, "Linux", :value => "linux"%>
          <%end%>   

        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <div class="form-check">
            <%= check_box_tag('wizard[enable_dns_service]', 'n', ('checked'), class: "form-check-input list-checkbox", id: "enable_dns_service", disabled: true ) %>
            <label class="form-check-label" >Enable DNS Service</label>
            <div class="text-muted"><%=t('wizards.enable_dns_service_help')%></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <div class="form-check">
            <%= check_box_tag('wizard[enable_web_service]', 'n', ('checked'), class: "form-check-input list-checkbox", id: "wizard_web_service", onclick: "checkServiceStatus(this)", disabled: true ) %>
            <label class="form-check-label" for="wizard_web_service">Enable Web Services</label>
            <div class="text-muted"><%=t('wizards.enable_web_service_help')%></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <div class="form-check">
            <%= check_box_tag('wizard[enable_ftp_service]', 'n', ('checked' if false), class: "form-check-input list-checkbox", id: "wizard_ftp_service", onclick: "checkServiceStatus(this)" ) %>
            <label class="form-check-label" for="wizard_ftp_service">Create Ftp Account</label>
            <div class="text-muted"><%=t('wizards.enable_ftp_service_help')%></div>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <div class="form-check">
            <%= check_box_tag('wizard[enable_db_service]', 'n', ('checked' if false), class: "form-check-input list-checkbox", id: "wizard_db_service", onclick: "checkServiceStatus(this)" ) %>
            <label class="form-check-label" for="wizard_db_service">Create Database</label>
            <%if current_spree_user.have_linux_access? && current_spree_user.have_windows_access?%>
            <div class="text-muted" id="div3"></div>
            <%elsif current_spree_user.have_linux_access?%>
            <div class="text-muted" id="div1"><%=t('wizards.enable_db_service_help')%></div>
            <%elsif current_spree_user.have_windows_access?%>
            <div class="text-muted" id="div2"><%=t('wizards.enable_db_service_help1')%></div>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <div class="form-check">
            <%= check_box_tag('wizard[enable_mail_service]', 'n', ('checked'), class: "form-check-input list-checkbox", id: "wizard_mail_service", onclick: "checkServiceStatus(this)", disabled: true ) %>
            <label class="form-check-label" for="wizard_mail_service">Enable Mail Service</label>
            <div class="text-muted"><%=t('wizards.enable_mail_service_help')%></div>
          </div>
        </div>
      </div>
    </div>



     <div> <!-- id="wizard_mail" -->
      <div class="row">
        <div class="col-lg-6">
         <!-- <div class="form-group field">
            <label class="form-label">Email</label>
            <div class="input-group">
              <%#= text_field_tag 'wizard[emails][]', '', class: 'form-control mail_box', pattern: MAILBOX_REGEX, title: "Invalid input", placeholder: "Enter Email", "data-input-count" => 0, id: 'wizard_mailbox_one', required: true %>
              <div class="input-group-text">
                <span id="selected_domain_button">@</span>
              </div>
            </div>
          </div> -->
          <div id="newMoreEmailAddress"></div>
          <button id="addRowEmail" type="button" class="btn btn-secondary lift mb-4" , data-field-count= '1' >Add Email</button>
        </div>

      </div>
    </div>

    <%=submit_tag "Submit",class: 'btn btn-primary  btn-lg lift'%>

  </fieldset>
<% end %>

<div style="color: red;" class="mt-3">
  <%=@response[:message].html_safe if @response %>
</div> 



<style type="text/css">
</style>

<script type="text/javascript">

  $(document).ready(function (argument) {
    var mailService = document.getElementById("wizard_mail_service");

    var div = document.getElementById("wizard_mail"); 
    if (mailService.value == 'n') {
      div.style.display = "none"; 
      $('#wizard_mailbox_one').removeAttr('required');

    } else{
      div.style.display = "block"; 
      $('#wizard_mailbox_one').attr('required', 'required');

    }

    var domain = $('#wizard_domain').val();
    var domain = domain.replace("www.", "");

    if (domain != "") {
      $("#selected_domain_button").html('@'+ domain);
    }

  });

  $('#wizard_domain').change(function () {
     var domain = $('#wizard_domain').val();
     var domain = domain.replace("www.", "");
    $("#selected_domain_button").html('@'+ domain);
  });


  var checkServiceStatus = function(element){
    var serviceStatus = element.value;
    var id = element.id;
    var div = document.getElementById("wizard_mail"); 
    
    if (serviceStatus == 'n') {
      element.value = 'y';
      if (id == 'wizard_mail_service') {
        div.style.display = "block"; 
        $('#wizard_mailbox_one').attr('required', 'required');
      }
    } else {
      element.value = 'n';
      div.style.display = "none"; 
      $('#wizard_mailbox_one').removeAttr('required');
    }
  }

  $("#addRowEmail").click(function () {
    var fieldCount = parseInt($(this).data('field-count'));
    var inputCount = (fieldCount +1);
     var domain = $('#wizard_domain').val();
     var domain = domain.replace("www.", "");
    var html = '';
    html += '<div id="inputUsernameField">';
    html += '<div class="input-group mb-3">';
    html += '<input type="text" name="wizard[emails][]" required="required" class="form-control m-input" pattern=<%= MAILBOX_REGEX %> title="Invalid input" placeholder="Enter Email" autocomplete="off" "data-input-count" = '+inputCount+'>';
    
    html += '<div class="input-group-text">';
    html += '<span id="selected_domain_button">@'+domain+'</span>';
    html += '</div>';
    html += '<button id="removeRowEmail" type="button" class="btn btn-danger">Remove</button>';
    
    html += '</div>';
    $('#newMoreEmailAddress').append(html);
    $(this).data("field-count", fieldCount+1);
    if (fieldCount >= 9) {
      $("#addRowEmail").hide();
    }
  });

  $('input[type="radio"]').on('click change', function(e) {
   
    if(e.currentTarget.value == "windows"){
      $("#div3").html('<%=t('wizards.enable_db_service_help1')%>');
      var domain = $('#wizard_domain').val();
      var domain = domain.replace("www.", "");
      if (domain != "") {
        $("#selected_domain_button").html('@'+ domain);
      }
    } else {
      $("#div3").html('<%=t('wizards.enable_db_service_help')%>');
      var domain = $('#wizard_domain').val();
      var domain = domain.replace("www.", "");
      if (domain != "") {
        $("#selected_domain_button").html('@'+ domain);
      }
    }
});

  $(document).on('click', '#removeRowEmail', function () {
    var fieldCount = $('#addRowEmail').data('field-count'); //get myvalue
    $('#addRowEmail').data('field-count',(fieldCount-1));
    $(this).closest('#inputUsernameField').remove();
    if (fieldCount >= 10) {
      $("#addRowEmail").show();
    }
  });

</script>
<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
