<% content_for :page_title do %>
 <div class="mt-2"></div>
  <%= Spree.t(:start_wizard) %>
<% end %>

 <%=form_for 'wizard', url: admin_wizards_path, html: {method: :post} do |f|%> 

  <fieldset>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <label>Enter Domain Name</label>
          <%#= collection_select(:wizard, :domain, @hosted_zones, :origin, :origin, {prompt: 'Select Web Domain'}, {class: 'select2-clear js-filterable'}) %>
          <%= f.text_field :domain, class: 'form-control'%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <div class="custom-control custom-switch">
            <%= check_box_tag('wizard[enable_web_service]', 'n', ('checked' if false), class: "custom-control-input", id: "wizard_web_service", onclick: "checkServiceStatus(this)" ) %>
            <label class="custom-control-label" for="wizard_web_service">Enable Web Services</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group field">
          <div class="custom-control custom-switch">
            <%= check_box_tag('wizard[enable_mail_service]', 'n', ('checked' if false), class: "custom-control-input", id: "wizard_mail_service", onclick: "checkServiceStatus(this)" ) %>
            <label class="custom-control-label" for="wizard_mail_service">Enable Mail Services</label>
          </div>
        </div>
      </div>
    </div>

    <div id="wizard_mail">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group field">
            <label>Email</label>
            <div class="input-group">
              <%= text_field_tag 'wizard[emails][]', '', class: 'form-control', placeholder: "Enter Email", "data-input-count" => 0 %>
              <div class="input-group-append">
                <span class="input-group-text" id="selected_domain_button">@</span>
              </div>
            </div>
          </div>

          <div id="newMoreEmailAddress"></div>
          <button id="addRowEmail" type="button" class="btn btn-info" , data-field-count= '1' >Add More Email Address</button>
        </div>
      </div>
    </div>

    <%=submit_tag "Submit",class: 'btn btn-primary'%>

  </fieldset>
<% end %>

<div style="color: red;" class="mt-3">
  <%=@response[:message].html_safe if @response %>
</</div> 

<style type="text/css">
</style>

<script type="text/javascript">

  $(document).ready(function (argument) {
    var mailService = document.getElementById("wizard_mail_service");
    var div = document.getElementById("wizard_mail"); 
    if (mailService.value == 'n') {
      div.style.display = "none"; 
    } else{
      div.style.display = "block"; 
    }

    var domain = $('#wizard_domain').val();
    var domain = domain.replace("www.", "");

    if (domain != "") {
      $("#selected_domain_button").html('@'+ domain);
    }

  });

  $('#wizard_domain').change(function () {
     var domain = $('#wizard_domain').val();
     var domain = domain.replace("www.", "");
    $("#selected_domain_button").html('@'+ domain);
  });

  var checkServiceStatus = function(element){
    var serviceStatus = element.value;
    var id = element.id;
    var div = document.getElementById("wizard_mail"); 
    
    if (serviceStatus == 'n') {
      element.value = 'y';
      if (id == 'wizard_mail_service') {
        div.style.display = "block"; 
      }
    } else {
      element.value = 'n';
      div.style.display = "none"; 
    }
  }

  $("#addRowEmail").click(function () {
    var fieldCount = parseInt($(this).data('field-count'));
    var inputCount = (fieldCount +1);
     var domain = $('#wizard_domain').val();
     var domain = domain.replace("www.", "");
    var html = '';
    html += '<div id="inputUsernameField">';
    html += '<div class="input-group mb-3">';
    html += '<input type="text" name="wizard[emails][]" class="form-control m-input" placeholder="Enter Email" autocomplete="off" "data-input-count" = '+inputCount+'>';
    html += '<div class="input-group-append">';
    html += '<div class="input-group-append">';
    html += '<span class="input-group-text" id="selected_domain_button">@'+domain+'</span>';
    html += '</div>';
    html += '<button id="removeRowEmail" type="button" class="btn btn-danger">Remove</button>';
    html += '</div>';
    html += '</div>';
    $('#newMoreEmailAddress').append(html);
    $(this).data("field-count", fieldCount+1);
    if (fieldCount >= 9) {
      $("#addRowEmail").hide();
    }
  });

  $(document).on('click', '#removeRowEmail', function () {
    var fieldCount = $('#addRowEmail').data('field-count'); //get myvalue
    $('#addRowEmail').data('field-count',(fieldCount-1));
    $(this).closest('#inputUsernameField').remove();
    if (fieldCount >= 10) {
      $("#addRowEmail").show();
    }
  });

</script>
<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
