<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        <%= link_to Spree.t(:sub_domains), admin_sites_sub_domains_path %> /
        Sub Domain For Websites
        </h1>
        
      </div>
      <div class="col-auto">

      </div>
    </div>

  </div>
</div>

<%= flash_messages %>

<%=form_for "sub_domain", url: admin_sites_sub_domains_path, html: {method: :post} do |f|%>

  <fieldset>
    <div class="form-group">
      <label class="form-label">Choose your domain:</label>
      <%= collection_select(:sub_domain, :parent_domain_id, @websites, :domain_id, :domain, {prompt: 'Select Web Domain', selected: @proxy_resource.try(:parent_domain_id)}, {class: 'form-select js-filterable'}) if @websites.present? %>
    </div>
    <%= hidden_field_tag :parent_domain_name %>

    <label class="form-label">Host(eg: www):</label>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group mb-3">
          <%= f.text_field 'domain', value: get_sub_domain_name(@websites, @proxy_resource), class: 'form-control m-input', required: true, placeholder: 'Enter Sub Domain', autocomplete: 'off'%>
          <div class="input-group-append">
            <button id="sub_domain_button" type="button" class="btn btn-secondary">
              Domain not selected
            </button>
          </div>
        </div>
      </div>
    </div>

    <%=submit_tag "Add SubDomain",class: 'btn btn-primary lift mt-2'%>

  </fieldset>
<% end %>

<div style="color: red;" class="mt-3">
  <%=@response[:message].html_safe if @response %>
</div> 



<script type="text/javascript">
  $(document).ready(function (argument) {
    var domain = $("#sub_domain_parent_domain_id option:selected").text();
    $("#sub_domain_button").html('.'+ domain);
    $("#parent_domain_name").val(domain);
  });

  $('#sub_domain_parent_domain_id').change(function () {
    var domain = $("#sub_domain_parent_domain_id option:selected").text();
    $("#sub_domain_button").html('.'+ domain);
    $("#parent_domain_name").val(domain);
  });
</script>
