<%=qg_form.hidden_field :product_id%>
<%=qg_form.hidden_field :group_name%>
<%=qg_form.hidden_field :solid_cp_quota_group_id%>
<%=qg_form.hidden_field :id%>
<div class="card">
	<div class="card-header" id="headingOne">
	<h5 class="mb-0 d-inline">
	  <%=qg_form.check_box :enabled %>  <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#group_<%=qg_form.object.solid_cp_quota_group_id%>" aria-expanded="true" aria-controls="group_<%=qg_form.object.solid_cp_quota_group_id%>">
	     <i class="fa" aria-hidden="true"></i>&nbsp;<%=qg_form.object.group_name%>
	  </a>
	</h5>
	<span class="pull-right" style="float: right;line-height: 40px">
	   <span class="mr-3"> <%=qg_form.check_box :calculate_diskspace %> Count Diskspace </span>
	    <%=qg_form.check_box :calculate_bandwidth %> Count Bandwidth 
	   </span>
	</div>
	<div id="group_<%=qg_form.object.solid_cp_quota_group_id%>" class="collapse" aria-labelledby="headingOne">
	<div class="card-body">         
	  <table class="table">
	    <%= qg_form.fields_for :plan_quotas,build_quota(@product,qg_form.object,quotas) do | plan_quota_form|%>
	        <%quota = plan_quota_form.object%>
	        <%=plan_quota_form.hidden_field :plan_quota_group_id %>
	        <%=plan_quota_form.hidden_field :quota_name %>
	        <%=plan_quota_form.hidden_field :solid_cp_quota_group_id %>
	        <%=plan_quota_form.hidden_field :solid_cp_quota_id %>                
	        <%=plan_quota_form.hidden_field :id %>
	        <tr class="quota-row">
	          <td class="<%=disable_class%>"><%=plan_quota_form.object.formatted_quota_name%></td>
	          <td class="<%=disable_class%>"><%=plan_quota_form.text_field :quota_value,class: "quota-value #{quota.quota_value.present? && quota.quota_value < 0 ? 'd-none' : ''}"%>  <%=plan_quota_form.check_box :unlimited,:checked=>quota.quota_value < 0,class: 'quota-checkbox'%>  Unlimited</td>
	        </tr>     
	    <%end%>
	  </table>
	</div>
  </div> 
</div>