<%if current_spree_user.store_admin? || current_spree_user&.superadmin? %>
<h1 class="contextual-title px-0 mb-0 col" style="margin-top: -2rem;">Profile</h1>
<hr>

<div class="row">
  <div class="col-lg-12">
  <div class="row">
    <div class="col-sm-3">
      <span>Account ID  </span>
    </div>
    <div class="col-sm-9">
    <b><%= current_store.account_id %></b>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-sm-3">
        Full Name
      </div>
      <div class="col-sm-9">
        <span><%=current_spree_user.full_name%></span>
      </div>
  </div>
  <hr>
    <div class="row">
    <div class="col-sm-3">
      Email
    </div>
    <div class="col-sm-9">
      <span><%= current_spree_user.email%></span>
    </div>
  </div>
  <hr>
  <div class="row">
  <div class="col-sm-3">
    Phone Number
  </div>
  <div class="col-sm-9">
    <span><%= current_store.contact_phone%></span>
  </div>
</div>
<hr>
    <div class="row">
    <div class="col-sm-3">
      Custom Domain
    </div>
    <div class="col-sm-5">
    <%=link_to_with_protocol spree_current_user.account.spree_store.url, spree_current_user.account.spree_store.url,target: '_blank' if spree_current_user.account.present? && spree_current_user.account.spree_store.present? %>
    </div>
    <div class="col-sm-4" >
    <span class="d-flex justify-content-end">
    <%= link_to  spree.edit_user_path(current_spree_user),type: 'button', class: 'btn btn-outline-primary btn-size', style:"margin-right: 32px;" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg> 
      <% end %>
    </span>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-3">
      Address
    </div>
    <div class="col-sm-9 text-secondary">
    <% current_spree_user.addresses.each_with_index do |address, index| %>
      <div class="col-12  mb-3">
        <% index += 1 %>
        <% if index % 3 == 0 %>
          <div class="account-page-user-info-item my-4"></div>
        <% end %>
        <div class="row">
          <div class="col-8 col-lg-6">
            <%= render "spree/users/address", address: address %>
          </div>
          <div class="col" style="margin-right: 20px;">
          <span class="d-flex justify-content-end">
            <%= render "spree/users/address_controls", address: address %>
          </span>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col" style="margin-right: 20px;">
    <span class="d-flex justify-content-end">
    <%= link_to '<i class="fa fa-plus"></i> Add New'.html_safe, spree.new_address_path, class: 'btn btn-primary lift', method: :get %>
    </span>
  </div>
  <hr>

  <div id="delete-address-popup" class="delete-address-popup-dropdown hide-on-esc">
      <%= render 'spree/shared/delete_address_popup' %>
    </div>

<%else%>
<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Profile
        </h1>
        
      </div>
      <div class="col-auto">
      
      </div>
    </div>
    </div>
</div>

    <div class="row">
      <div class="col-md-12">
        <div class="card shadow mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Account ID</h6>
              </div>
              <div class="col-sm-9 text-secondary">
              <%= current_store.account_id %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
              <%=current_spree_user.full_name%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
              <%= current_spree_user.email%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Custom Domain</h6>
              </div>
              <div class="col-sm-5 text-secondary">
              <%=link_to_with_protocol spree_current_user.account.spree_store.url, spree_current_user.account.spree_store.url,target: '_blank' if spree_current_user.account.present? && spree_current_user.account.spree_store.present? %>
              </div>
              <div class="col-sm-4 text-secondary">
              <span class="d-flex justify-content-end">
              <%= link_to  spree.edit_user_path(current_spree_user),type: 'button', class: 'btn btn-outline-primary btn-size', style:"margin-right: 20px;" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg> 
                <% end %>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0"><%= link_to "Address", spree.new_address_path, method: :get %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
              <% current_spree_user.addresses.each_with_index do |address, index| %>
                <div class="col-12  mb-3">
                  <% index += 1 %>
                  <% if index % 3 == 0 %>
                    <div class="account-page-user-info-item my-4"></div>
                  <% end %>
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <%= render "spree/users/address", address: address %>
                    </div>
                    <div class="col" style="margin-right: 20px;">
                    <span class="d-flex justify-content-end">
                      <%= render "spree/users/address_controls", address: address %>
                    </span>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
            </div>
            <div class="col" style="margin-right: 20px;">
            <span class="d-flex justify-content-end">
            <%= link_to '<i class="fa fa-plus"></i> Add New'.html_safe, spree.new_address_path, class: 'btn btn-primary lift', method: :get %>
            </span>
            </div>
            <hr>

          </div>
        </div>
      </div>
      <div id="delete-address-popup" class="delete-address-popup-dropdown hide-on-esc">
      <%= render 'spree/shared/delete_address_popup' %>
    </div>
    </div>

  <%end%>



<style type="text/css">
.btn-size{
padding: 0.3rem 0.45rem;
font-size: 0.8rem;
}
</style>
<script type="text/javascript"> 

$(document).ready(function(){
var deleteAddressLinks = document.querySelectorAll('.js-delete-address-link');
  if (deleteAddressLinks.length > 0) {
    deleteAddressLinks.forEach(function(deleteLink) {
      deleteLink.addEventListener('click', function(e) {
        document.querySelector('#overlay').classList.add('shown');
        document.querySelector('#delete-address-popup').classList.add('shown');
        document.querySelector('#delete-address-popup-confirm').href = e.currentTarget.dataset.address;
      }, false)
    })
  }

  document.querySelector('#overlay').addEventListener('click', function () {
    var addressActionElement = document.querySelector('#delete-address-popup');
    if (addressActionElement) addressActionElement.classList.remove('shown');
  }, false);

  var popupCloseButtons = document.querySelectorAll('.js-delete-address-popup-close-button')
  if (popupCloseButtons.length > 0) {
    popupCloseButtons.forEach(function(closeButton) {
      closeButton.addEventListener('click', function(e) {
        document.querySelector('#overlay').classList.remove('shown');
        document.querySelector('#delete-address-popup').classList.remove('shown');
      })
    })
  }
});
</script>
