<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Profiles
        </h1>
        
      </div>
      <div class="col-auto">
      
      </div>
    </div>
    </div>
</div>

<div class="row">
        <div class="col-xs-12 col-lg-4">
          <span>Account ID: <b><%= current_store.account_id %></b> <br/></span>
          
          <span><%=current_spree_user.full_name%></span>

          <dd class="account-page-user-info-item-definition"><%= current_spree_user.email%></dd>
          
          <%=link_to_with_protocol spree_current_user.account.spree_store.url, spree_current_user.account.spree_store.url,target: '_blank' if spree_current_user.account.present? && spree_current_user.account.spree_store.present? %>

          <dt class="text-uppercase account-page-user-info-item-title">
              <%= link_to spree.edit_user_path(current_spree_user), class: "account-page-user-info-item-title-edit" do %>
              <%= inline_svg_tag('edit.svg', width: 27.6, height: 24) %>
            <% end %>
          </dt>
        

          <div class="d-lg-inline-block account-page-user-info-item-store-credits" style="display: none !important;">
            <p class="my-0 text-uppercase text-center">
              <%= Spree.t(:store_credit_name) %>: <b class="account-page-user-info-item-store-credits-amount"><%= Spree::Money.new(current_spree_user.total_available_store_credit(current_currency), currency: current_currency).to_s.gsub('.00', '') %></b>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-8 mt-sm-5 mt-lg-0">
          <h4 class="mb-3"><%= link_to Spree.t(:add_new_address), spree.new_address_path, method: :get %></h4>
          <div class="row">
            <% current_spree_user.addresses.each_with_index do |address, index| %>
              <div class="col-12 col-sm-6 mb-3">
                <% index += 1 %>
                <% if index % 3 == 0 %>
                  <div class="account-page-user-info-item my-4"></div>
                <% end %>
                <div class="row">
                  <div class="col-8 col-lg-6">
                    <%= render "spree/users/address", address: address %>
                  </div>
                  <div class="col">
                    <%= render "spree/users/address_controls", address: address %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>