
<style type="text/css">
  .info-box{
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 10px
  }
  .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-text {
  text-transform: uppercase;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
</style>

<div class="container account-page">

  <div class="mt-5">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false">My Billing</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="account-tab" data-toggle="tab" href="#account_info" role="tab" aria-controls="account_info" aria-selected="false">Account Info</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
       <h3 class="text-uppercase spree-mb-medium spree-mt-medium spree-header"><%= Spree.t(:dashboard) %></h3>
        <div class="row justify-content-center">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

              <%if spree_current_user.store_admin? && !current_admin_tenant?%>
                 <div class="info-box-content">
                    <span class="info-box-text">Users</span>
                    <span class="info-box-number">
                        <%=link_to current_tenant&.users&.count, spree.admin_users_path, class: 'dropdown-item' if spree.respond_to?(:account_path)%>
                    </span>
                  </div>
               <%elsif spree_current_user.superadmin?%>

                <div class="info-box-content">
                    <span class="info-box-text">Resellers</span>
                    <span class="info-box-number">
                        <%=link_to Spree::Store.all.size, spree.admin_stores_path, class: 'dropdown-item'%>
                    </span>
                </div>

              <%else%>
                <div class="info-box-content">
                  <span class="info-box-text">Subscriptions</span>
                  <span class="info-box-number"><%=spree_current_user.susbscriptions.active.count%></span>
                </div>
                <%end%>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <% if spree_current_user.superadmin?%>

          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box">
                 <div class="info-box-content">
                    <span class="info-box-text">Users</span>
                    <span class="info-box-number">
                        <%=link_to Spree::User.all.count,spree.admin_users_path, class: 'dropdown-item' if spree.respond_to?(:account_path)%>
                    </span>
                  </div>               
             </div>
          </div>
          <%end%>

          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

             <%if spree_current_user.store_admin? && !current_admin_tenant?%>
               <div class="info-box-content">
                  <span class="info-box-text">Orders</span>
                  <span class="info-box-number">
                    <%=link_to current_tenant&.spree_orders&.complete&.count, spree.admin_orders_path, class: 'dropdown-item' if spree.respond_to?(:account_path)%>
                    </span>
                </div>

            <%elsif spree_current_user.superadmin? %>
                <div class="info-box-content">
                  <span class="info-box-text">Orders</span>
                  <span class="info-box-number">
                    <%=link_to Spree::Order.all.count,spree.admin_orders_path%>
                   </span>
                </div>


              <%else%>

                <div class="info-box-content">
                  <span class="info-box-text">Orders</span>
                  <span class="info-box-number"><%=spree_current_user.orders.count%></span>
                </div>
              <%end%>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>
<!-- 
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Active Domain</span>
                <span class="info-box-number">4</span>
              </div>
           
            </div>
          </div> -->
    
        <!-- /.col -->
<!--           <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Storage</span>
                <span class="info-box-number">60 GB</span>
              </div>
            </div>
          </div> -->
        <!-- /.col -->
        </div>

        <div class="row mt-5">
          <div class="col-lg-12">
            <%=render :partial=>'panels_flash'%>
          </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
       <h3 class="text-uppercase spree-mb-medium spree-mt-medium spree-header"><%= Spree.t(:my_subscription) %></h3>
       <%if spree_current_user.susbscriptions.present?%>
        <table class="table">
          <thead class="active">
            <tr>
              <th class="text-uppercase text-secondary"><%=Spree.t(:subscription)%></th>
              <th class="text-uppercase text-secondary"><%= Spree.t(:status) %></th>
              <th class="text-uppercase text-secondary" title="Subscription Date"><%= Spree.t(:sub_date) %></th>
              <th class="text-uppercase text-secondary"><%= Spree.t(:Interval) %></th>
              <th class="text-uppercase text-secondary"><%= Spree.t(:amount) %></th>
              <th class="text-uppercase text-secondary"><%= Spree.t(:canceled_at) %></th>
              <th class="text-uppercase text-secondary"><%= Spree.t(:action) %></th>
            </tr>
            </thead>
            <tbody>
             <%spree_current_user.susbscriptions.order('created_at desc').each do |subscription|%>
                <tr>
                  <td class="account-page-order-number"><%=subscription.plan.name%> 
                    <br/>
                    <span class="font-12 grey"><%=subscription.plan.server_type.titleize%></span>
                  </td>
                  <td class="account-page-order-date"><%=subscription.status? ? 'Active': 'In-Active'%></td>
                  <td class="account-page-order-status"><%=subscription.start_date%></td>
                  <td class="account-page-order-payment-state"><%=subscription.billing_interval%></td>
                  <td class="account-page-order-payment-state"><%=number_to_currency(subscription.price)%></td>
                   <td class="account-page-order-payment-state"><%=subscription.canceled_at%></td>
                  <td>
                    <%if subscription.active?%>
                     <%=link_to 'Cancel', "/account/subscription_cancel?subscription_id=#{subscription.id}",data: {confirm: 'Are you sure?'} %> </td>
                    <%end%>
                </tr>
            <%end%>
          
            </tbody>
          </table>
        <%else%>
            <div class="alert alert-info"><%= Spree.t(:you_have_no_subscription_plans_yet) %></div>
        <%end%>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div data-hook="account_my_orders" class="account-page-orders" id="account-my-orders">
       <h3 class="text-uppercase spree-mb-medium spree-mt-medium spree-header"><%= Spree.t(:my_orders) %></h3>
       <% if @orders.present? %>
          <table>
            <thead class="active">
              <tr>
                <th class="text-uppercase text-secondary account-page-order-number"><%= Spree::Order.human_attribute_name(:number) %></th>
                <th class="text-uppercase text-secondary account-page-order-date"><%= Spree.t(:date) %></th>
                <th class="text-uppercase text-secondary account-page-order-status"><%= Spree.t(:status) %></th>
                <th class="text-uppercase text-secondary account-page-order-payment-state"><%= Spree.t(:payment_state) %></th>
              <!--   <th class="text-uppercase text-secondary account-page-order-shipment-state"><%#= Spree.t(:shipment_state) %></th> -->
                <th class="text-uppercase text-secondary account-page-order-total"><%= Spree.t(:total) %></th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td class="account-page-order-number"><%= link_to order.number, order_url(order), class: "text-primary" %></td>
                  <td class="account-page-order-date"><%= l order.completed_at.to_date %></td>
                  <td class="account-page-order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
                  <td class="account-page-order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
                 <!--  <td class="account-page-order-shipment-state"><%#= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td> -->
                  <td class="account-page-text-primary account-page-order-total account-page-lead"><%= order.display_total %></td>
                  <td class="account-page-arrow-container" data-order-path="<%= spree.order_path(order) %>">
                    <%= link_to '', spree.order_path(order), { class: "account-page-order-arrow" } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="text-center"><%= Spree.t(:you_have_no_orders_yet) %></p>
        <% end %>
        <br>
      </div>
    </div>

    <div class="tab-pane fade" id="billing"  role="tabpanel" aria-labbelledby="billing-ab">
         <h3 class="text-uppercase spree-mb-medium spree-mt-medium spree-header"><%= Spree.t(:my_billing) %></h3>
    </div>
    <div class="tab-pane fade" id="account_info" role="tabpanel" aria-labelledby="account-info">
      <h3 class="text-uppercase spree-mb-medium spree-mt-medium spree-header"><%= Spree.t(:account_info) %></h3>
      <div class="row">
        <div class="col-xs-12 col-lg-4">

          <span><%=@user.full_name%></span>
          
          <dd class="account-page-user-info-item-definition"><%= @user.email%></dd>
          <dt class="text-uppercase account-page-user-info-item-title">
              <%= link_to spree.edit_user_path(@user), class: "account-page-user-info-item-title-edit" do %>
              <%= inline_svg_tag('edit.svg', width: 27.6, height: 24) %>
            <% end %>
          </dt>
        

          <div class="d-lg-inline-block account-page-user-info-item-store-credits" style="display: none !important;">
            <p class="my-0 text-uppercase text-center">
              <%= Spree.t(:store_credit_name) %>: <b class="account-page-user-info-item-store-credits-amount"><%= Spree::Money.new(@user.total_available_store_credit(current_currency), currency: current_currency).to_s.gsub('.00', '') %></b>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-8 mt-sm-5 mt-lg-0">
          <h4 class="mb-3"><%= link_to Spree.t(:add_new_address), spree.new_address_path, method: :get %></h4>
          <div class="row">
            <% @user.addresses.each_with_index do |address, index| %>
              <div class="col-12 col-sm-6 mb-3">
                <% index += 1 %>
                <% if index % 3 == 0 %>
                  <div class="account-page-user-info-item my-4"></div>
                <% end %>
                <div class="row">
                  <div class="col-8 col-lg-6">
                    <%= render "spree/users/address", address: address %>
                  </div>
                  <div class="col">
                    <%= render "spree/users/address_controls", address: address %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div> 

      <div class="row mt-5">
         <div class="col-xs-12">
          <hr>
            <%if spree_current_user.solid_cp_id.present?%>
              
              <div class="mt-3">
                <strong>SolidCP URL</strong>: <a href="<%=SolidCp::Config.user_url%>" target="_blank"><%=SolidCp::Config.user_url%></a>
             </div>

              <div class="mt-3">
                <strong>SolidCP Username</strong>:  <%=spree_current_user.login%>
              </div>

            <%end%>
           
         </div>
      </div>



      <div class="row mt-5">
         <div class="col-xs-12">
          <hr>
            <%if spree_current_user.isp_config.present?%>
             
              <div class="mt-3">
                <strong>ISP Config URL</strong>: <a href="<%=IspConfig::Config.user_url%>" target="_blank">
                  <%=IspConfig::Config.user_url%>
                </a>
              </div>

              <div class="mt-3">
                  <strong>ISP Config Username</strong>:  <%=spree_current_user.isp_config.get_username%>
               </div>


            <%end%>
           
         </div>
      </div>
    </div>
  </div>
    
  </div>


  <h3 class="text-uppercase spree-mb-large spree-mt-large spree-header"></h3>




  <div id="delete-address-popup" class="delete-address-popup-dropdown hide-on-esc">
    <%= render 'spree/shared/delete_address_popup' %>
  </div>
</div>
