<style>
.position-absolute {
    position: relative !important;
}
.navbar-vertical.navbar-expand-md .navbar-brand {
    display: block;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.navbar-brand {
  margin-right: 0;
}

.navbar-brand-img,
.navbar-brand > img {
  max-width: 100%;
  max-height: 1.5rem;
}

.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.sidebar-footer{
height: 50px;
position: absolute;
width: 100%;
bottom: 0;
list-style-type: none;
padding-bottom:5.5em;
}

.testtext {
white-space:break-spaces;
overflow-wrap: anywhere;
width:230px
}

</style>

<!-- Navbar -->
      <nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVertical" aria-controls="navbarVertical" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <%= image_tag 'OpsPi-logo.jpg', class: 'navbar-brand-img mx-auto' %>
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarVertical">

          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">

          <% if can? :admin, Spree::Order %>
          <li class="nav-item">
            <a class="nav-link" id="sidebarOrder" href="/admin/orders">
              <i class="fa fa-list" style="margin-right:10px"></i> Orders
            </a>
          </li>
          <% end %>

          <% if can?(:admin, Spree::ReturnAuthorization) || can?(:admin, Spree::CustomerReturn) %>
          <li class="nav-item">
            <a class="nav-link" href="#sidebar-returns" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-returns" id="sidebar_return_dropdown">
            <%= svg_icon name: "returns.svg", width: '18', height: '18'%>&nbsp Returns
            </a>
            <div class="collapse" id="sidebarReturns">
                <ul class="nav nav-sm flex-column">
                <% if can? :index, Spree::ReturnAuthorization %>
                <%#= if @order.completed? %>
                  <li class="nav-item" data-hook='admin_order_tabs_return_authorizations'>
                  
                  <%= link_to 'Returns Authorization', { controller: 'admin/return_index', action: :return_authorizations }, class: 'nav-link', id: @order  %>
                  </li>
                <%#=end%>
                <%end%>
                <% if can? :index, Spree::CustomerReturn %>
                <%#= if @order.completed? %>
                  <li class="nav-item">

                    <%= link_to 'Customer Returns', { controller: 'admin/return_index', action: :customer_returns }, class: 'nav-link', id: @order  %>
                  </li>
                  <%#= end %>
                  <% end %>
                </ul>
            </div>
          </li>
          <% end %>

          <% if can? :admin, Spree::Product %>
          <li class="nav-item">
          <a class="nav-link" href="#sidebar-product" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-product" id="sidebar_product_dropdown">
            <i class="fa fa-th" style="margin-right:10px"></i>  Services
          </a>
            <div class="collapse" id="sidebarProduct">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a href="/admin/products" class="nav-link">
                          Products
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/admin/option_types" class="nav-link">
                        Option Types
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/admin/properties" class="nav-link">
                        Properties
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/admin/prototypes" class="nav-link">
                        Prototypes
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/admin/taxonomies" class="nav-link">
                        Taxonomies
                        </a>
                      </li>
                      <li class="nav-item">
                      <a href="/admin/taxons" class="nav-link">
                      Taxons
                      </a>
                    </li>
                    </ul>
                  </div>
          </li>
          <% end %>

          <% if can? :admin, Spree::Admin::ReportsController %>
          <li class="nav-item">
            <!-- <a class="nav-link" id="sidebarReport" href="/admin/reports"> -->
            <a class="nav-link" id="sidebarReport" href="#">
              <i class="fa fa-file-text-o" style="margin-right:10px"></i> Reports
            </a>
          </li>
          <% end %>

          <% if can? :admin, Spree::Promotion %>
          <li class="nav-item">
          <a class="nav-link" href="#sidebar-promotions" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-promotions" id="sidebar_promotion_dropdown">
            <i class="fa fa-tag" style="margin-right:10px"></i>  Promotions
          </a>
            <div class="collapse" id="sidebarPromotion">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="/admin/promotions" class="nav-link">
                    Promotions
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/promotion_categories" class="nav-link">
                  Promotion Categories
                  </a>
                </li>
              </ul>
            </div>
          </li>
        <% end %>

        <% if Spree.user_class && can?(:admin, Spree.user_class) %>
        <li class="nav-item">
          <a class="nav-link" id="sidebarUser" href="<%= spree.admin_users_path %>">
           <i class="fa fa-users" style="margin-right:10px"></i> Users
          </a>
        </li>
        <% end %>

        <% if can? :admin, current_store %>
        <li class="nav-item">
          <a class="nav-link" href="#sidebar-configuration" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-configuration" id="sidebar_configuration_dropdown">
          <i class="fa fa-file-text-o" style="margin-right:10px"></i> Configuration
          </a>

          <div class="collapse" id="sidebarConfiguration">
              <ul class="nav nav-sm flex-column">
              <% if can? :manage, Spree::Config %>
                <li class="nav-item">
                  <a href="<%= spree.edit_admin_general_settings_path %>" class="nav-link">
                    General Settings
                  </a>
                </li>
                <%end%>

                <li class="nav-item">
                  <a href="<%= admin_my_store_index_path %>" class="nav-link">
                    My Store
                  </a>
                </li>

                <% if can? :manage, Spree::Store%>
                <li class="nav-item">
                  <a href="<%= spree.admin_stores_path %>" class="nav-link">
                    Stores
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::TaxCategory %>
                <li class="nav-item">
                  <a href="<%= spree.admin_tax_categories_path %>" class="nav-link">
                    Tax Category
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::TaxRate %>
                <li class="nav-item">
                  <a href="<%= spree.admin_tax_rates_path %>" class="nav-link">
                    Tax Rates
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::Zone %>
                <li class="nav-item">
                  <a href="<%= spree.admin_zones_path %>" class="nav-link">
                    Zones
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::Country %>
                <li class="nav-item">
                  <a href="<%= spree.admin_countries_path %>" class="nav-link">
                    Countries
                  </a>
                </li>
                <%end%>

                <% if country = current_store.default_country %>
                <% if can? :manage, Spree::Country %>
                <li class="nav-item">
                  <a href="<%= spree.admin_country_states_path(country)%>" class="nav-link">
                    States
                  </a>
                </li>
                <%end%>
                <%end%>

                <% if can? :manage, Spree::PaymentMethod %>
                <li class="nav-item">
                  <a href="<%= admin_payment_methods_path %>" class="nav-link">
                    Payment Method
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::ShippingMethod %>
                <li class="nav-item">
                  <a href="<%= spree.admin_shipping_methods_path %>" class="nav-link">
                    Shipping Method
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::ShippingCategory %>
                <li class="nav-item">
                  <a href="<%= spree.admin_shipping_categories_path %>" class="nav-link">
                    Shipping Categories
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::StoreCreditCategory %>
                <li class="nav-item">
                  <a href="<%= spree.admin_store_credit_categories_path %>" class="nav-link">
                    Store Credit Category
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::RefundReason %>
                <li class="nav-item">
                  <a href="<%= spree.admin_refund_reasons_path%>" class="nav-link">
                    Refund Reasons
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::ReimbursementType %>
                <li class="nav-item">
                  <a href="<%= spree.admin_reimbursement_types_path %>" class="nav-link">
                    Reimbursement Types
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::ReturnAuthorizationReason %>
                <li class="nav-item">
                  <a href="<%= spree.admin_return_authorization_reasons_path %>" class="nav-link">
                    Return Authorization Reason
                  </a>
                </li>
                <%end%>

                <% if can? :manage, Spree::Role %>
                <li class="nav-item">
                  <a href="<%= spree.admin_roles_path %>" class="nav-link">
                    Role
                  </a>
                </li>
                <%end%>
              </ul>
            </div>

        </li>
        <% end %>
          
        <li class="nav-item">
        <a class="nav-link" id="sidebarDomain" href="<%= spree.admin_domain_registrations_path %>">
          <i class="fa fa-file-text-o" style="margin-right:10px"></i>  Domain Registrations
        </a>
        </li>

        <%if current_spree_user.store_admin? || current_spree_user.admin?%>
        <li class="nav-item">
          <a class="nav-link" id="sidebarReseller" href="<%= spree.setup_reseller_club_admin_domain_registrations_path %>">
          <i class="fa fa-file-text-o" style="margin-right:10px"></i>  Reseller Club
          </a>
        </li>
        <%end%>

        <%if ENV['OPSBOT_ENABLED'] == "true" %>
        <li class="nav-item">
        <a class="nav-link" href="#sidebar-opsbot" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-opsbot" id="sidebar_opsbot_dropdown">
        <i class="fa fa-file-text-o" style="margin-right:10px"></i>  OpsBot
          </a>
          <div class="collapse" id="sidebarOpsbot">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">
              CI/CD
              </a>
            </li>
          </ul>
        </div>
        </li>
  <%end%>
    
    <%if current_spree_user.end_user? %>
        <li class="nav-item">
        <a class="nav-link" href="#sidebar-hosting_controls" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-hosting_controls" id="sidebar_dropdown">
        <i class="fa fa-file-text-o" style="margin-right:10px"></i> Hosting Controls
        </a>
          <div class="collapse" id="sidebarDashboards">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a href="<%= spree.admin_dns_hosted_zones_path %>" class="nav-link" >
               Dns
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#sidebar-mail" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-mail" id="sidebar_mail_dropdown">
                Mail
              </a>
                <div class="collapse" id="sidebarSignIn">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="<%= spree.admin_mail_domains_path %>" class="nav-link">
                        Mail Domain
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="<%= spree.admin_mail_mail_boxes_path %>" class="nav-link">
                        Mailbox
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="<%= spree.admin_mail_mailing_lists_path %>" class="nav-link">
                        Mailing List
                      </a>
                    </li>
                    <li class="nav-item">
                    <a href="<%= spree.admin_mail_spam_filter_blacklists_path %>" class="nav-link">
                        Spam Blacklist
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="<%= spree.admin_mail_spam_filter_whitelists_path %>" class="nav-link">
                      Spam Whitelist
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="<%= spree.admin_mail_forwards_path %>" class="nav-link">
                      Mail Forward
                    </a>
                  </li>
                  </ul>
                </div>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="#sidebar-sites" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-sites" id="sidebar_sites_dropdown">
                Sites
            </a>
              <div class="collapse" id="sidebarSites">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#sidebar-websites" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-websites" id="sidebar_websites_dropdown">
                        Websites
                      </a>  
                        <div class="collapse" id="sidebarWebsites">
                        <ul class="nav nav-sm flex-column">
                          <li class="nav-item">
                            <a href="<%= spree.admin_sites_websites_path %>" class="nav-link">
                              Websites
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="<%= spree.admin_sites_sub_domains_path %>" class="nav-link">
                              Subdomain For Website
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sidebar-web_access" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-web_access" id="sidebar_webaccess_dropdown">
                        Web Access
                      </a> 
                          <div class="collapse" id="sidebarWebaccess">
                            <ul class="nav nav-sm flex-column">
                              <li class="nav-item">
                                <a href="<%= spree.admin_sites_ftp_users_path %>" class="nav-link">
                                  FTP Users
                                </a>
                              </li>
                              <li class="nav-item">
                                <a href="<%= spree.admin_sites_protected_folders_path %>" class="nav-link">
                                  Protected Folders
                                </a>
                              </li>
                              <li class="nav-item">
                                <a href="<%= spree.admin_sites_protected_folder_users_path %>" class="nav-link">
                                  Protected Folder Users
                                </a>
                              </li>
                            </ul>
                          </div> 
                    </li>
                  </ul>
                </div>
                </li>

               <!-- <li class="nav-item">
                <a class="nav-link" href="#mail-statistics" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="mail-statistics" id="sidebar_statistics_dropdown">
                    Statistics
                </a>
                  <div class="collapse" id="sidebarStatistics">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a href="<%= spree.mailbox_quota_admin_mail_statistics_path %>" class="nav-link">
                          Mailbox Quota
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="<%= spree.mailbox_traffic_admin_mail_statistics_path %>" class="nav-link">
                        Mailbox Traffic
                        </a>
                      </li>
                    </ul>
                  </div>
                </li> -->

               <li class="nav-item">
                  <a href="<%= spree.admin_wizards_path %>" class="nav-link">
                    Start Wizard
                  </a>
                </li>
               <!-- <li class="nav-item">
                <a class="nav-link" href="#sidebar-windows" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebar-windows" id="sidebar_windows_dropdown">
                    Windows
                </a>
                  <div class="collapse" id="sidebarWindows">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="<%= spree.admin_windows_domains_path %>" class="nav-link">
                        Web Domain
                      </a>
                    </li>
                  </ul>
                </div>
              </li> -->
              <li class="nav-item">
                <a href="<%= admin_site_builder_path %>" class="nav-link">
                  Website Builder
                </a>
              </li>
              <li class="nav-item">
                <a href="<%= admin_sites_isp_databases_path %>" class="nav-link">
                  Database
                </a>
              </li>
              </ul>
            </div>
            </li>
          </ul>
        </div>
        </li>
        <%end%>
        </ul>

  
        <div class="mt-auto"></div>

        <!-- User (md) -->
        <div class="navbar-user sidebar-footer d-none d-md-flex" id="sidebarUser">

          <!-- <a class="navbar-user-link" data-bs-toggle="offcanvas" href="#sidebarOffcanvasActivity" aria-controls="sidebarOffcanvasActivity">
            <span class="icon">
              <i class="fe fe-bell"></i>
            </span>
          </a> -->

          <!-- Dropup -->
          <div class="dropup">

            <!-- Toggle -->
            <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= svg_icon name: "user.svg", width: '24', height: '24'%>
               <!--<div class="avatar avatar-sm avatar-online">
                <img src="./assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
              </div> -->
            </a>

            <!-- Menu -->
            <div class="dropdown-menu overflow-hidden" aria-labelledby="sidebarIconCopy">
              <li class="dropdown-item px-0 text-center bg-light " href="#"><span class="d-block text-dark py-2 px-2 testtext"><%= try_spree_current_user.email %></span></li>
              <hr class="dropdown-divider m-0">
              <li>
                <% if spree.respond_to? :root_path %>
                <%= link_to spree.root_path, target: :blank, class: 'd-block text-dark py-3 px-4 dropdown-item' do %>
                  <%= svg_icon name: "store.svg", width: '18', height: '18' %>
                  &nbsp;
                    <%= Spree.t(:back_to_store) %>
                    <% end %>
                <% end %>
                </li>

                <% if can?(:manage, try_spree_current_user) %>
                <%= link_to spree.edit_admin_user_path(try_spree_current_user), class: 'd-block text-dark py-3 px-4 dropdown-item' do %>
                    <%= svg_icon name: "user.svg", width: '18', height: '18' %>
                    &nbsp;
                        <%= Spree.t(:account) %>
                    <% end %>
                <% end %>
                </li>
                <li>

              <hr class="dropdown-divider">
              <% if admin_logout_link %>
              <%= link_to admin_logout_link, class: 'd-block text-dark py-3 px-4 dropdown-item' do %>
                      <%= svg_icon name: "exit.svg", width: '18', height: '18' %>
                      &nbsp;
                      <%= Spree.t(:logout) %>
                  <% end %>
              <% end %>
              </li>

              <li>
            <%if false%>
            <div class="dropdown-divider m-0"></div>

                <%= link_to 'http://guides.spreecommerce.org/support', target: :blank, class: 'd-block text-dark py-3 px-4 dropdown-item' do %>
                <%= svg_icon name: "info.svg", width: '18', height: '18' %>
                &nbsp;
                <%= Spree.t(:support) %>
                <% end %>

                <%= link_to 'http://slack.spreecommerce.org', target: :blank, class: 'd-block text-dark py-3 px-4 dropdown-item' do %>
                <%= svg_icon name: "slack.svg", width: '18', height: '18' %>
                &nbsp;
                <%= Spree.t(:join_slack) %>
                <% end %>

                <%= link_to 'https://guides.spreecommerce.org/extensions', target: :blank, class: 'd-block text-dark py-3 px-4 dropdown-item' do %>
                <%= svg_icon name: "extensions.svg", width: '18', height: '18' %>
                &nbsp;
                <%= Spree.t(:extensions_directory) %>
                <% end %>
                <%end%>
            </div>
            </li>
            </div>

          </div>


        </div>


</div> <!-- / .navbar-collapse -->

</nav>

<script type="text/javascript">

$(document).ready(function() {
  $("#sidebar_dropdown").on('click', function(event) {
    if($("#sidebarDashboards").hasClass("show")){
        $('#sidebar_dropdown').attr('aria-expanded','false');
        $("#sidebarDashboards").removeClass("show");
      } else {
        $('#sidebar_dropdown').attr('aria-expanded','true');
        $("#sidebarDashboards").addClass("show");
      }
  });
});


$(document).ready(function() {
  $("#sidebar_mail_dropdown").on('click', function(event) {
    if($("#sidebarSignIn").hasClass("show")){
        $('#sidebar_mail_dropdown').attr('aria-expanded','false');
        $("#sidebarSignIn").removeClass("show");
      } else {
        $('#sidebar_mail_dropdown').attr('aria-expanded','true');
        $("#sidebarSignIn").addClass("show");
      }
  });
});



$(document).ready(function() {
  $("#sidebar_sites_dropdown").on('click', function(event) {
    if($("#sidebarSites").hasClass("show")){
        $('#sidebar_sites_dropdown').attr('aria-expanded','false');
        $("#sidebarSites").removeClass("show");
      } else {
        $('#sidebar_sites_dropdown').attr('aria-expanded','true');
        $("#sidebarSites").addClass("show");
      }
  });
});


$(document).ready(function() {
  $("#sidebar_websites_dropdown").on('click', function(event) {
    if($("#sidebarWebsites").hasClass("show")){
        $('#sidebar_websites_dropdown').attr('aria-expanded','false');
        $("#sidebarWebsites").removeClass("show");
      } else {
        $('#sidebar_websites_dropdown').attr('aria-expanded','true');
        $("#sidebarWebsites").addClass("show");
      }
  });
});


$(document).ready(function() {
  $("#sidebar_webaccess_dropdown").on('click', function(event) {
    if($("#sidebarWebaccess").hasClass("show")){
        $('#sidebar_webaccess_dropdown').attr('aria-expanded','false');
        $("#sidebarWebaccess").removeClass("show");
      } else {
        $('#sidebar_webaccess_dropdown').attr('aria-expanded','true');
        $("#sidebarWebaccess").addClass("show");
      }
  });
});

$(document).ready(function() {
var currentLocation = window.location.pathname;
if(currentLocation == '/admin/sites/ftp_users' || currentLocation == '/admin/sites/protected_folders' || currentLocation == '/admin/sites/protected_folder_users'){
  if($("#sidebarWebaccess").hasClass("show")){
    $('#sidebar_webaccess_dropdown').attr("aria-expanded","false");  
  } else {
    $('#sidebar_dropdown').attr("aria-expanded","true");
    $('#sidebarDashboards').addClass("show");
    $('#sidebar_sites_dropdown').attr("aria-expanded","true");
    $('#sidebarSites').addClass("show");
    $('#sidebar_webaccess_dropdown').attr("aria-expanded","true");
    $('#sidebarWebaccess').addClass("show");
  }
}

});


$(document).ready(function() {
  $("#sidebar_statistics_dropdown").on('click', function(event) {
    if($("#sidebarStatistics").hasClass("show")){
        $('#sidebar_statistics_dropdown').attr('aria-expanded','false');
        $("#sidebarStatistics").removeClass("show");
      } else {
        $('#sidebar_statistics_dropdown').attr('aria-expanded','true');
        $("#sidebarStatistics").addClass("show");
      }
  });
});

$(document).ready(function() {
  $("#sidebar_windows_dropdown").on('click', function(event) {
    if($("#sidebarWindows").hasClass("show")){
        $('#sidebar_windows_dropdown').attr('aria-expanded','false');
        $("#sidebarWindows").removeClass("show");
      } else {
        $('#sidebar_windows_dropdown').attr('aria-expanded','true');
        $("#sidebarWindows").addClass("show");
      }
  });
});

$(document).ready(function() {
  $("#sidebar_return_dropdown").on('click', function(event) {
    if($("#sidebarReturns").hasClass("show")){
        $('#sidebar_return_dropdown').attr('aria-expanded','false');
        $("#sidebarReturns").removeClass("show");
      } else {
        $('#sidebar_return_dropdown').attr('aria-expanded','true');
        $("#sidebarReturns").addClass("show");
      }
  });
});

$(document).ready(function() {
  $("#sidebar_product_dropdown").on('click', function(event) {
    if($("#sidebarProduct").hasClass("show")){
        $('#sidebar_product_dropdown').attr('aria-expanded','false');
        $("#sidebarProduct").removeClass("show");
      } else {
        $('#sidebar_product_dropdown').attr('aria-expanded','true');
        $("#sidebarProduct").addClass("show");
      }
  });
});

$(document).ready(function() {
  $("#sidebar_promotion_dropdown").on('click', function(event) {
    if($("#sidebarProduct").hasClass("show")){
        $('#sidebar_promotion_dropdown').attr('aria-expanded','false');
        $("#sidebarPromotion").removeClass("show");
      } else {
        $('#sidebar_promotion_dropdown').attr('aria-expanded','true');
        $("#sidebarPromotion").addClass("show");
      }
  });
});

$(document).ready(function() {
  $("#sidebar_configuration_dropdown").on('click', function(event) {
    if($("#sidebarConfiguration").hasClass("show")){
        $('#sidebar_configuration_dropdown').attr('aria-expanded','false');
        $("#sidebarConfiguration").removeClass("show");
      } else {
        $('#sidebar_configuration_dropdown').attr('aria-expanded','true');
        $("#sidebarConfiguration").addClass("show");
      }
  });
});

$(document).ready(function() {
  $("#sidebar_opsbot_dropdown").on('click', function(event) {
    if($("#sidebarOpsbot").hasClass("show")){
        $('#sidebar_opsbot_dropdown').attr('aria-expanded','false');
        $("#sidebarOpsbot").removeClass("show");
      } else {
        $('#sidebar_opsbot_dropdown').attr('aria-expanded','true');
        $("#sidebarOpsbot").addClass("show");
      }
  });
});

</script>
