<style type="text/css">
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
</style>
<%if current_admin_tenant?%>
	<%=f.hidden_field :reseller_signup,:value=>true%>
	
	<div class="form-group mb-4">
	  <%= f.text_field :business_name, class: 'spree-flat-input',required:true,placeholder: "business Name" %>
	</div>


	<div class="form-group mb-4">
		<div class="input-group">
			<div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon3">https://</span>
			</div>

		   <%= f.text_field :subdomain, class: 'spree-flat-input form-control subdomain-field', placeholder: 'subdomain',required:true %>
		  
		  <div class="input-group-append">
		    <span class="input-group-text" id="basic-addon2">.<%=ENV['BASE_DOMAIN']%></span>
		  </div>

		</div>
	</div>

<%end%>

<!-- 
<div class="form-group mb-4">
  <%#= f.text_field :first_name, class: 'spree-flat-input', placeholder: Spree.t(:first_name) %>
</div>

<div class="form-group mb-4">
  <%#= f.text_field :last_name, class: 'spree-flat-input', placeholder: Spree.t(:last_name) %>
</div>
 -->

<div class="form-group mb-4">
  <%= f.email_field :email, class: 'spree-flat-input', placeholder: Spree.t(:email) %>
</div>

<div class="form-group mb-4">
  <%= f.password_field :password, class: 'spree-flat-input', placeholder: Spree.t(:password) %>
</div>

<div class="form-group mb-4">
  <%= f.password_field :password_confirmation, class: 'spree-flat-input', placeholder: Spree.t(:confirm_password) %>
</div>
<div data-hook="signup_below_password_fields"></div>

<div class="form-group mb-4">
  <%= f.check_box :terms_and_conditions,class: 'mr-2' %> I agree to the <%= link_to 'Terms&Conditions.', '/', remote: true, data: {:toggle => 'modal', :target => '#myModal'} %>
</div>

<div id="post-modal" class="modal fade"></div>

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header pb-0 px-4 pt-4 border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= icon(name: 'close',
                     classes: 'd-block d-lg-none',
                     width: 16,
                     height: 16) %>
            <%= icon(name: 'close',
                     classes: 'd-none d-lg-block',
                     width: 30,
                     height: 30) %>
          </span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div class="container-fluid">
          <div class="row justify-content-center align-items-center">
              <%= Spree.t(:terms_and_conditions) %>
          </div>
          <div class="row pt-5 justify-content-center align-items-center product-added-modal-product">
               <%= render partial: 'terms_condition' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
