<%if current_admin_tenant?%>
	<%=f.hidden_field :reseller_signup,:value=>true%>
	
	<div class="form-group mb-4">
	  <%= f.text_field :business_name, class: 'spree-flat-input',required:true,placeholder: "business Name" %>
	</div>

	<div class="form-group mb-4">
	  <%= f.text_field :subdomain, class: 'spree-flat-input', placeholder: 'example.dev.opspi.com',required:true %>
	</div>
<%end%>


<div class="form-group mb-4">
  <%= f.text_field :first_name, class: 'spree-flat-input', placeholder: Spree.t(:first_name) %>
</div>

<div class="form-group mb-4">
  <%= f.text_field :last_name, class: 'spree-flat-input', placeholder: Spree.t(:last_name) %>
</div>


<div class="form-group mb-4">
  <%= f.email_field :email, class: 'spree-flat-input', placeholder: Spree.t(:email) %>
</div>

<div class="form-group mb-4">
  <%= f.password_field :password, class: 'spree-flat-input', placeholder: Spree.t(:password) %>
</div>

<div class="form-group mb-4">
  <%= f.password_field :password_confirmation, class: 'spree-flat-input', placeholder: Spree.t(:confirm_password) %>
</div>
<div data-hook="signup_below_password_fields"></div>
