<style type="text/css">
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 100%;
}
.offset-lg-3 {
    margin-left: 0;
}
.navbar-img{
  max-width: 100%;
  max-height: 3.5rem;
  margin-left:5px;
}
.scroll {
    max-height: 400px;
    overflow-y: auto;
}

</style>

<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">
<a href="<%= spree.root_path %>" style="position:absolute;left:0;top:0;margin-top:6px">
<%= image_tag 'OpsPi-logo.jpg', class: "navbar-img" %>
</a>
    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

          <!-- Image -->
          <div class="text-center">
          <%=image_tag('happiness')%>
          </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

          <!-- Heading -->
          <h3 class="display-4 text-center mb-3">
            CREATE NEW ACCOUNT
          </h3>


          <!-- Form -->
          <form>

          <%if current_admin_tenant?%>
            <%=f.hidden_field :reseller_signup,:value=>true%>
            
            <div class="form-group">
            <label class="form-label">
                Business Name
              </label>

              <%= f.text_field :business_name, class: 'form-control',required:true,placeholder: "Business Name" %>
            </div>


            <div class="form-group">
            <label class="form-label">
                Subdomain 
              </label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://</span>
                </div>

                <%= f.text_field :subdomain, class: 'form-control', placeholder: 'Subdomain',required:true %>
                
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">.<%=ENV['BASE_DOMAIN']%></span>
                </div>

              </div>
            </div>

          <%end%>

            <!-- Email address -->
            <div class="form-group">

              <!-- Label -->
              <label class="form-label">
                Email Address
              </label>

              <!-- Input -->
              <%= f.email_field :email, class: 'form-control', placeholder: Spree.t(:email) %>

            </div>

            <!-- Password -->
            <div class="form-group">

              <!-- Label -->
              <label class="form-label">
                Password
              </label>

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                <%= f.password_field :password, class: 'form-control pwd', placeholder: Spree.t(:password) %>

                <!-- Icon -->
                <span class="input-group-text eye_icon">
                  <i class="fe fe-eye"></i>
                </span>

              </div>
            </div>

            <!-- Password -->
            <div class="form-group">

              <!-- Label -->
              <label class="form-label">
                Confirm Password
              </label>

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                <%= f.password_field :password_confirmation, class: 'form-control pwd1', placeholder: Spree.t(:confirm_password) %>

                <!-- Icon -->
                <span class="input-group-text eye_icon1">
                  <i class="fe fe-eye"></i>
                </span>

              </div>
            </div>
            <div data-hook="signup_below_password_fields"></div>

            <!--<div class="form-check  mb-3">
              <%#= f.check_box :terms_and_conditions,class: 'form-check-input list-checkbox' %> I agree to the <%= link_to 'Terms&Conditions.', '#', remote: true, data: {:toggle => 'modal', :target => '#myModal'}, id:"terms_modal" %>
            </div> -->

            <%= f.hidden_field :terms_and_conditions, value: true%>
            <small class="mb-3 text-muted text-center">
            By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. 
            <%= link_to 'Terms&Conditions.', '#', remote: true, data: {:toggle => 'modal', :target => '#myModal'}, id:"terms_modal" %>
              <%#= f.check_box :terms_and_conditions,class: 'form-check-input list-checkbox' %> <%#= link_to 'Terms&Conditions.', '#', remote: true, data: {:toggle => 'modal', :target => '#myModal'}, id:"terms_modal" %>
            </small>

            <!-- Submit -->
            <%= f.submit Spree.t(:sign_up), class: 'btn btn-lg w-100 btn-primary mb-3 mt-2' %>
            

            <!-- Link -->
            <div class="text-center">
              <small class="text-muted text-center">
                Already have an account? <%= link_to Spree.t('log_in'), spree_login_path %>.
              </small>
            </div>


          </form>

          <div id="post-modal" class="modal fade"></div>
          <!-- Modal -->

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-card card">
                <div class="card-header">

                  <!-- Title -->
                  <h4 class="card-header-title" id="exampleModalCenterTitle">
                    Terms and Conditions
                  </h4>

                  <!-- Close -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closebtn"></button>

                </div>

                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-center product-added-modal-product scroll">
                        <%= render partial: 'terms_condition' %>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
</body>


<script type="text/javascript">

$(document).ready(function() {
  $("#terms_modal").on('click', function(event) {
    $('#myModal').attr('aria-hidden','false');
    $("#myModal").css('display','block');
    $("#myModal").addClass("show");
  });
});

$(document).ready(function() {
  $("#closebtn").on('click', function(event) {
    $('#myModal').attr('aria-hidden','true');
    $("#myModal").css('display','none');
    $("#myModal").removeClass("show");
  });
});

$(document).ready(function() {
  $(".eye_icon").on('click',function() {
    if ($(".pwd").prop('type') === 'password') {
        $(".pwd").prop('type', 'text');
    } else {
        $(".pwd").prop('type', 'password');
    }
});
});

$(document).ready(function() {
  $(".eye_icon1").on('click',function() {
    if ($(".pwd1").prop('type') === 'password') {
        $(".pwd1").prop('type', 'text');
    } else {
        $(".pwd1").prop('type', 'password');
    }
});
});

</script>


