<% content_for :page_title do %>
 Domains
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_domian),
    new_admin_windows_domain_path,
    class: "btn-success",
      icon: 'add.svg',
      id: 'admin_new_domain' %>
<% end %>

<% if @resources.any? %>
<div data-nav-x-wrapper>
  <div data-nav-x-container>
    <table class="table" id="listing_orders" data-hook data-nav-x-content>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th>Domain Name</th>
          <th>Expiration Date</th>
          <th>Type</th>
         
        </tr>
      </thead>
      <tbody>

      <%@resources.each do |domain| %>
        <tr data-hook="admin_orders_index_rows" class="<%= cycle('odd', 'even') %>">
          <td><%=domain.domain_name%></td>
          <td><%=domain.expiration_date%></td>
          <td><%=domain.is_sub_domain? ? 'Sub-Domain' : "Top-level Domain" %></td>
          
          <td><%#=link_to 'Edit',edit_admin_windows_domain_path(id: domain.domain_id)%> |
            <%=link_to 'Delete', admin_windows_domain_path(id: domain.domain_id), method: :delete, data: {confirm: t('isp_config.mail_domain.delete_alert')}%>
          </td>  
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
  
  </div>
<% end %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });

  if($("#sidebar-hosting_controls a").hasClass("collapsed")){
    $('a').attr("aria-expanded","false");  
  } else {
    $('a').attr("aria-expanded","true");
    $('#sidebar-hosting_controls').addClass("show");
    $('#sidebar-windows').addClass("show");
  }
</script>
