<style>
.btn-size{
  padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
}
</style>

<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        <%=t('isp_config.spamfilter.blacklist')%>
        </h1>
        
      </div>
      <div class="col-auto">
      <%= button_link_to t('isp_config.spamfilter.add_blacklist'),
      new_admin_mail_spam_filter_blacklist_path,
      class: "btn btn-primary lift",
        icon: 'add.svg' %>
      </div>
    </div>

  </div>
</div>

<% if @resources.any? %>
<div class="card">
<div class="table-responsive">
<table class="table table-sm card-table" style="table-layout: fixed; width:100%">
  <thead>
    <tr>
    <th>Email</th>
    <th>Active</th>
    <th>Priority</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody class="fs-base">
  <%@resources.each do |resource| %>
    <tr data-hook="admin_orders_index_rows">
      <td><%=resource.email%></td>
      <td><%=resource.active%></td>
      <td><%=resource.priority%></td>
      <td><%=link_to '<i class="fe fe-edit"></i>'.html_safe,edit_admin_mail_spam_filter_blacklist_path(id: resource.wblist_id),class:"btn btn-success btn-size"%> 
        <%=link_to '<i class="fe fe-trash"></i>'.html_safe,admin_mail_spam_filter_blacklist_path(id: resource.wblist_id), method: :delete, data: {confirm: t('general.delete')},class:"btn btn-danger btn-size"%>
      </td>  
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
  <label class="form-label" style="margin-top: 0.5rem;"> No Spamfilter Blacklist found.</label>
  </div>
<% end %>



<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
