<% content_for :page_title do %>
 <%=t('isp_config.spamfilter.blacklist')%>
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to t('isp_config.spamfilter.add_blacklist'),
    new_admin_mail_spam_filter_blacklist_path,
    class: "btn-success",
      icon: 'add.svg' %>
<% end %>

<% if @resources.any? %>
<div data-nav-x-wrapper>
  <div data-nav-x-container>
    <table class="table" id="listing_orders" data-hook data-nav-x-content>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th>Email</th>
          <th>Active</th>
          <th>Priority</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <%@resources.each do |resource| %>
        <tr data-hook="admin_orders_index_rows" class="<%= cycle('odd', 'even') %>">
          <td><%=resource.email%></td>
          <td><%=resource.active%></td>
          <td><%=resource.priority%></td>
          <td><%=link_to 'Edit',edit_admin_mail_spam_filter_blacklist_path(id: resource.wblist_id)%> |
            <%=link_to 'Delete',admin_mail_spam_filter_blacklist_path(id: resource.wblist_id), method: :delete, data: {confirm: t('general.delete')}%>
          </td>  
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
  
  </div>
<% end %>


<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
