<!DOCTYPE html>
<html>
  <head>
    <title>OpsPi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <!-- Libs CSS -->
    <%= stylesheet_link_tag 'libs', 'data-turbolinks-track': 'reload' %>

    <!-- Theme CSS -->
    <%= stylesheet_link_tag 'theme', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'spree/shared/paths' %>
    <%= javascript_include_tag 'spree/frontend/all', defer: true, 'data-turbolinks-track': 'reload' %>

 
   <%=render :partial=> 'spree/shared/google_analytics'%>
  </head>
  <body>

    <%= yield %>
    
  </body>
</html>
