<!DOCTYPE html>
<html>
  <head>
    <title>OpsPi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <!-- Libs CSS -->
    <%= stylesheet_link_tag 'libs', 'data-turbolinks-track': 'reload' %>

    <!-- Theme CSS -->
    <%= stylesheet_link_tag 'theme', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>

  <body>

    <%= yield %>
  
  </body>
</html>
